1. Write a python program that take a number from user then add all 
the natural number which are divisible by 3 or 5 both till that input 
number.
Sample input:
Enter a number: 10
Output: 33

In [27]:
n=int(input('enter the no.'))
x=0
for i in range(1,n+1):
    if i%3==0 and i%5==0:
        x+=i
print(x)

45

2. Write a python program that takes input from user then print the 
table of the entered number using for loop
Example: If user enters ‘5’ then, 
Output: 5 x 1 = 5
 5 x 2=10
 5 x 3 =15
 5 x 4 =20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35 
 5 x 8 = 40
 5 x 9 = 45
 5 x 10 =50

In [28]:
for i in range(1,11):
    
    print(5,'*',i,'=',i*5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

3. Write a python program that print the given series.
Expected Output: 20, 16, 12, 8, 4, 0

In [29]:
for i in range(20,-1,-4):
    print(i,end=',')

20,16,12,8,4,0,

4. Write a python program to generate all the factors of the given 
number. Using for loop
Input: 12
Output: 1, 2, 3, 4, 12

In [34]:
n=int(input('enter the no.'))
for i in range(1,n+1):
    if n%i==0:
        print(i,end=',')

1,2,3,4,6,12,

5. Write a Python program to find the sum of digit of a given number
using for loop. (between 100 and 999).
Input: 123
Output: 6

In [40]:
n=int(input('enter the no.'))
x=0
for i in range(3):
    r=n%10
    x+=r
    n//=10
print(x)

6

6. write a python program that takes number from user then prints 
count of even and odd number from 1 to till that number
Sample input:
Enter a number: 10
Output:
Count_of_even_no.s = 5
Count_of_odd_no.s = 5

In [1]:
evn=0
odd=0
for i in range(1,11):
    if i%2==0:
        evn+=1
    else:
        odd+=1
print('Count_of_even_no.s =',evn)
print('Count_of_odd_no.s =',odd)

Count_of_even_no.s = 5
Count_of_odd_no.s = 5

7. Write a Python program to count how many numbers between 1 
and 200 are divisible by 5 but not by 2.

In [5]:
x=0
for i in range(1,201):
    if i%5==0 and i%2!=0:
       
        x+=1
        
print(x)

20

8. Write a Python program to find the reverse of a given number
using for loop. (between 100 and 999).
Input: 897
Output: 798

In [7]:
x=0
n=int(input('enter the no.'))
for i in range(3):
    r=n%10
    x=(x*10)+r
    n//=10
print(x)

798

9. Write a python program to input a number and calculate the 
‘double’ factorial using for loop.
Explanation: Double factorial,
• For an even integer n, the double factorial is the product of all 
even integers less than or equal to n.
• For an odd integer p, the double factorial is the product of all 
odd integers less than or equal to p.

In [12]:
x=1
n=int(input('enter the no.'))
for i in range(n,0,-2):
    if i%2==0:
        x*=i
    else:
        x*=i
print(x)

48

10. Write a python program which takes number as an input and 
check whether that number is prime or not.
Input: 13
Output: prime

In [21]:
n=int(input('enter the no.'))
for i in range(n-1,1,-1):
    if n%i==0:
        print('not prime')
        break
else:
    print('prime')

not prime

1. How can you use a for loop to print numbers from 5 to 15?

In [4]:
for i in range(5,16):
    print(i,end=' ')

5 6 7 8 9 10 11 12 13 14 15

2. Write a for loop to print the first 12 even numbers.

In [5]:
for i in range(1,25):
    if i%2==0:
        print(i,end=',')

2,4,6,8,10,12,14,16,18,20,22,24,

3. How can you print the first 7 odd numbers using a for loop?

In [6]:
for i in range(1,14):
    if i%2!=0:
        print(i,end=',')

1,3,5,7,9,11,13,

4. Use a for loop to print the numbers from 20 to 1 in reverse order.

In [7]:
for i in range(20,0,-1):
    print(i,end=',')

20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,

5. Write a program using a for loop to print the square of numbers from 2 to 12.

In [8]:
for i in range(2,13):
    i=i**2
    print(i,end=',')

4,9,16,25,36,49,64,81,100,121,144,

6. How can you print the first 6 cubes of natural numbers using a for loop?

In [9]:
for i in range(1,7):
    i=i**3
    print(i,end=',')

1,8,27,64,125,216,

7. Write a for loop that prints multiples of 5 from 1 to 50.

In [10]:
for i in range(1,11):
    i*=5
    print(i)

5
10
15
20
25
30
35
40
45
50

8. How can you print numbers from 1 to 30, but only display numbers that are divisible by
both 3 and 4?

In [11]:
for i in range(1,31):
    if i%3==0 and i%4==0:
        print(i,end=',')

12,24,

9. Write a for loop to print numbers from 1 to 40, but skip numbers that are divisible
by 7.

In [12]:
for i in range(1,41):
    if i%7==0:
        continue
    print(i,end=',')

1,2,3,4,5,6,8,9,10,11,12,13,15,16,17,18,19,20,22,23,24,25,26,27,29,30,31,32,33,34,36,37,38,39,40,

10. Write a for loop to find and print the sum of squares of the first 6 natural numbers.

In [13]:
x=0
for i in range(1,7):
    i=i**2
    x+=i
print(x)

91

11. WAP to count how many numbers between 1 and 60 are odd using a for loop?

In [15]:
x=0
for i in range(1,61):
    x+=1
print(x)

60

12. Write a for loop to print numbers from 1 to 30, but replace numbers divisible by 5 with
"Five".

In [22]:

for i in range(1,31):
   if i%5==0:
      i='five'
   print(i)

1
2
3
4
five
6
7
8
9
five
11
12
13
14
five
16
17
18
19
five
21
22
23
24
five
26
27
28
29
five

13. How can you calculate the sum of digits of a number (input by user) using a for loop?

14. Write a for loop to print the first 8 powers of 3 (3^1 to 3^8).

In [24]:
for i in range(1,9):
    i=3**i
    print(i,end=',')

3,9,27,81,243,729,2187,6561,