pandas : to do : data cleaning, data visualisation, data mining, data wrangling
        features: series: one dimentional 
            data frame : 2 dimentional
            panal : 3 dimentional

In [3]:
! pip3 install pandas

Requirement already satisfied: pandas in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
# series: it is the one dimentional labeled array of the values that can be use to represent a column of data in a data frame
import pandas as pd

In [ ]:
a=pd.Series([1,2,3,4,5],dtype=float,index=['a','b','c','d','e'],name='saquib') # name =0 bidefault
a

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: saquib, dtype: float64

In [ ]:
# no. of column and having no row
a.shape

(5,)

In [25]:
#dimention 
a.ndim

1

In [30]:
# dictnory
student= {'name':['aman','bipasha','chandr shekhar'],'age':[21,20,22],'CGPA':[5,6,7]}

In [28]:
student

{'name': ['a', 'b', 'c'], 'age': [12, 13, 14], 'CGPA': [5, 6, 7]}

In [32]:
#data frame: a data frame in the pandas is the two dimention tabal of the data with row and columns of potentially diffrent data types
# by using disctionary we can create dataframe
pd.DataFrame(student)

             name  age  CGPA
0            aman   21     5
1         bipasha   20     6
2  chandr shekhar   22     7

In [3]:
import numpy as np

In [6]:
# create a list of list 
lst=[['aman','karan','mohit'],[20,22,24],[np.nan,5,6]]
# lst=[['aman',20,np.nan],['karan',22,5],['mohit',24,6]]

In [9]:
df=pd.DataFrame(lst,index=['name','age','cgpa']).T
df

    name age cgpa
0   aman  20  NaN
1  karan  22    5
2  mohit  24    6

In [7]:
# for tupple
tpl=(('aman','rahul','rohit'),(20,25,22),(6,7,8))
tpl

(('aman', 'rahul', 'rohit'), (20, 25, 22), (6, 7, 8))

In [5]:
pd.DataFrame(tpl,index=['name','age','cgpa']).T

    name age cgpa
0   aman  20    6
1  rahul  25    7
2  rohit  22    8

In [8]:
! pip3 install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn) (2.2.5)
Requirement already satisfied: pandas>=1.2 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn) (2.2.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.10.3-cp311-cp311-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.2-cp311-cp311-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.58.4-cp311-cp311-win_amd64.whl.metadata (108 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.8-cp311-cp311-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.2.1-cp311-cp311-win_amd64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\miras\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.10.3-cp311-cp311-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.1 MB ? eta -:--:--
   -- ------------------------------------- 0.5/8.1 MB 1.2 MB/s eta 0:00:07
   --- ------------------------------------ 0.8/8.1 MB 1.2 MB/s eta 0:00:07
   ----- ---------------------------------- 1.0/8.1 MB 1.4 MB/s eta 0:00:06
   --------- ------------------------------ 1.8/8.1 MB 1.8 MB/s eta 0:00:04
   ---------- ----------------------------- 2.1/8.1 MB 1.8 MB/s eta 0:00:04
   ------------- -------------------------- 2.6/8.1 MB 1.9 MB/s eta 0:00:03
   --------------- ------------------------ 3.1/8.1 MB 2.0 MB/s eta 0:00:03
   ---------------- ----------------------- 3.4/8.1 MB 2.0 MB/s eta 0:00:03
   ------------------ --------------------- 3.7/8.1 MB 1.9 MB/s eta 0:00:03
   ------------------- -------------------- 3.9/8.1 MB 1.8 MB/s eta 0:00:03
   -------------------- ------------------- 4.2/8.1 MB 1.8 MB/s eta 0:00:03
   ---------------------- ----------------- 4.5/8.1 MB 1.7 MB/s eta 0:00:03
   ----------------------- ---------------- 4.7/8.1 MB 1.6 MB/s eta 0:00:03
   ------------------------ --------------- 5.0/8.1 MB 1.6 MB/s eta 0:00:02
   -------------------------- ------------- 5.2/8.1 MB 1.6 MB/s eta 0:00:02
   --------------------------- ------------ 5.5/8.1 MB 1.6 MB/s eta 0:00:02
   --------------------------- ------------ 5.5/8.1 MB 1.6 MB/s eta 0:00:02
   ---------------------------- ----------- 5.8/8.1 MB 1.5 MB/s eta 0:00:02
   ----------------------------- ---------- 6.0/8.1 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 6.3/8.1 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 6.6/8.1 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 6.8/8.1 MB 1.4 MB/s eta 0:00:01
   ----------------------------------- ---- 7.1/8.1 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.1 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.1 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  7.9/8.1 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 1.4 MB/s eta 0:00:00
Downloading contourpy-1.3.2-cp311-cp311-win_amd64.whl (222 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.58.4-cp311-cp311-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.2 MB ? eta -:--:--
   ------------- -------------------------- 0.8/2.2 MB 2.4 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.2 MB 2.4 MB/s eta 0:00:01
   -------------------------------- ------- 1.8/2.2 MB 2.3 MB/s eta 0:00:01
   ------------------------------------- -- 2.1/2.2 MB 2.2 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 2.1 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp311-cp311-win_amd64.whl (71 kB)
Downloading pillow-11.2.1-cp311-cp311-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   --------------- ------------------------ 1.0/2.7 MB 3.1 MB/s eta 0:00:01
   ------------------- -------------------- 1.3/2.7 MB 2.3 MB/s eta 0:00:01
   ------------------------------- -------- 2.1/2.7 MB 2.5 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 2.5 MB/s eta 0:00:00
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn

   ---------------------------------------- 0/8 [pyparsing]
   ---------------------------------------- 0/8 [pyparsing]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   ------------------------- -------------- 5/8 [contourpy]
   ------------------------- -------------- 5/8 [contourpy]
   ------------------------- -------------- 5/8 [contourpy]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ----------------------------------- ---- 7/8 [seaborn]
   ----------------------------------- ---- 7/8 [seaborn]
   ----------------------------------- ---- 7/8 [seaborn]
   ----------------------------------- ---- 7/8 [seaborn]
   ----------------------------------- ---- 7/8 [seaborn]
   ----------------------------------- ---- 7/8 [seaborn]
   ----------------------------------- ---- 7/8 [seaborn]
   ---------------------------------------- 8/8 [seaborn]

Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.58.4 kiwisolver-1.4.8 matplotlib-3.10.3 pillow-11.2.1 pyparsing-3.2.3 seaborn-0.13.2

In [3]:
import pandas as pd
df=pd.read_csv('data')
df

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,virginica
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

In [5]:
df.head() # it will return the 5 row bidefault and can be increase and decrease by including no. such as head(7)
df.head(7)

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa
5           5           5.4          3.9           1.7          0.4  setosa
6           6           4.6          3.4           1.4          0.3  setosa

In [ ]:
df.tail() # it will give last 5 row

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species
145,145,6.7,3.0,5.2,2.3,virginica
146,146,6.3,2.5,5.0,1.9,virginica
147,147,6.5,3.0,5.2,2.0,virginica
148,148,6.2,3.4,5.4,2.3,virginica
149,149,5.9,3.0,5.1,1.8,virginica

In [ ]:
df.shape  # gives the no. of row and column

(150, 6)

In [ ]:
df.info() # information of data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    150 non-null    int64
 1   sepal_length  150 non-null    float64
 2   sepal_width   150 non-null    float64
 3   petal_length  150 non-null    float64
 4   petal_width   150 non-null    float64
 5   species       150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [11]:
df.duplicated() # returns the no. of duplicated values if not then it will return false 
# to know the total duplicate values include .sum()
df.duplicated().sum()

np.int64(0)

In [ ]:
df['species'].unique() # returns the column name as species

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [ ]:
df['species'].value_counts() # returns the count of the values persent in the column

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [ ]:
df.isnull() #  checks the presence of null values
# for column vise check 
df.isnull().sum()

Unnamed: 0      0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
df.describe() # describe the columns such as count, mean, std, min, percentile,  etc.

       Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    74.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      0.000000      4.300000     2.000000      1.000000     0.100000
25%     37.250000      5.100000     2.800000      1.600000     0.300000
50%     74.500000      5.800000     3.000000      4.350000     1.300000
75%    111.750000      6.400000     3.300000      5.100000     1.800000
max    149.000000      7.900000     4.400000      6.900000     2.500000

In [ ]:
df.describe(include='object')  #

       species
count      150
unique       3
top     setosa
freq        50

In [24]:
df1=pd.read_csv('churn-bigml-20.csv')
df1

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [25]:
df2=pd.read_csv('churn-bigml-80.csv')
df2

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2661,SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
2662,AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
2663,WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
2664,RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
2665,TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [27]:
df1.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
662    False
663    False
664    False
665    False
666    False
Length: 667, dtype: bool

In [28]:
df2.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2661    False
2662    False
2663    False
2664    False
2665    False
Length: 2666, dtype: bool

In [29]:
df1.drop_duplicates(inplace=True)

In [30]:
df1.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [ ]:
df1.groupby('State')['Total eve charge'].mean()  # group of column state and mean of total eve charges column

State
AK    15.551111
AL    17.682143
AR    16.081250
AZ    16.501579
CA    16.872000
CO    16.370000
CT    17.272000
DC    16.076667
DE    17.066000
FL    19.981111
GA    17.242000
HI    16.440000
IA    19.618333
ID    16.531765
IL    15.015385
IN    18.081176
KS    17.113889
KY    17.101250
LA    17.561875
MA    17.708462
MD    17.507000
ME    16.840769
MI    17.485333
MN    17.188571
MO    15.691667
MS    17.729412
MT    17.802000
NC    18.275000
ND    18.785556
NE    17.563750
NH    16.933846
NJ    16.485000
NM    18.023889
NV    16.498000
NY    16.776667
OH    17.375833
OK    17.368889
OR    18.301250
PA    17.826667
RI    19.244118
SC    18.212727
SD    15.353636
TN    18.811667
TX    17.497647
UT    16.177500
VA    17.007000
VT    18.400625
WA    17.275000
WI    16.692941
WV    17.037778
WY    15.309091
Name: Total eve charge, dtype: float64

In [ ]:
df1.groupby('State')['Total eve charge'].sum() # sum of the column of the partucular group

State
AK    139.96
AL    247.55
AR    128.65
AZ    313.53
CA    168.72
CO    114.59
CT    259.08
DC    144.69
DE    170.66
FL    179.83
GA     86.21
HI    147.96
IA    117.71
ID    281.04
IL    195.20
IN    307.38
KS    308.05
KY    273.62
LA    280.99
MA    230.21
MD    175.07
ME    218.93
MI    262.28
MN    240.64
MO    188.30
MS    301.40
MT    267.03
NC    219.30
ND    338.14
NE    281.02
NH    220.14
NJ    296.73
NM    324.43
NV     82.49
NY    251.65
OH    208.51
OK    156.32
OR    292.82
PA    160.44
RI    327.15
SC    200.34
SD    168.89
TN    225.74
TX    297.46
UT    194.13
VA    170.07
VT    294.41
WA    310.95
WI    283.78
WV    306.68
WY    168.40
Name: Total eve charge, dtype: float64

In [ ]:
# drop function for deleting the particular column
df1.drop('Voice mail plan',axis=1)# axis =1 is delete from clumn and axis = 0 is row
# for deletion from main file use inplace =true such as 
# df1.drop('Voice mail plan',inplace=True,axis=1)

,State,Account length,Area code,International plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,114,415,No,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,184,510,Yes,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [ ]:
# shows all columns
df1.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [36]:
# for deleting multiple columns 
df1.drop(['Account length', 'Area code'],axis=1)

,State,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [39]:
# for changing the places of columns
df1[['State','Total day calls', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn']]

,State,Total day calls,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,97,117,408,No,No,0,184.5,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,137,65,415,No,No,0,129.1,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,67,161,415,No,No,0,332.9,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,103,111,415,No,No,0,110.4,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,117,49,510,No,No,0,119.3,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,WI,88,114,415,No,Yes,26,137.1,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,131,106,408,No,Yes,29,83.6,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,118,60,415,No,No,0,193.9,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,114,159,415,No,No,0,169.8,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
666,CT,105,184,510,Yes,No,0,213.8,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [40]:
# loc()- location base indexing
# iloc()- integer base indexing
df1['Total intl charge']>1.46

0       True
1       True
2      False
3       True
4       True
       ...
662     True
663     True
664     True
665     True
666    False
Name: Total intl charge, Length: 667, dtype: bool

In [ ]:
# for data frame of the particular elements
df1[df1['Total intl charge']>1.46]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
5,AK,36,408,No,Yes,30,146.3,128,24.87,162.5,80,13.81,129.3,109,5.82,14.5,6,3.92,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
661,CA,84,415,No,No,0,280.0,113,47.60,202.2,90,17.19,156.8,103,7.06,10.4,4,2.81,0,True
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
664,VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
665,WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False

In [42]:
# for particular range 
(df1['Total intl charge']>1.46) & (df1['Total intl charge']>3.0)

0      False
1       True
2      False
3      False
4      False
       ...
662     True
663    False
664     True
665     True
666    False
Name: Total intl charge, Length: 667, dtype: bool

In [44]:
# for data frame
df1[(df1['Total intl charge']>1.46) & (df1['Total intl charge']<3.0)]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
7,ID,119,415,No,No,0,159.1,114,27.05,231.3,117,19.66,143.2,91,6.44,8.8,3,2.38,5,True
12,MN,46,415,No,No,0,214.1,72,36.40,164.4,104,13.97,177.5,113,7.99,8.2,3,2.21,2,False
13,VT,128,510,No,Yes,29,179.3,104,30.48,225.9,86,19.20,323.0,78,14.54,8.6,7,2.32,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,KS,127,415,No,Yes,24,154.8,69,26.32,177.2,105,15.06,207.6,102,9.34,9.0,4,2.43,1,False
651,OK,138,510,No,Yes,33,155.2,139,26.38,268.3,79,22.81,186.4,71,8.39,9.7,4,2.62,3,False
655,WI,87,415,No,No,0,238.0,97,40.46,164.5,97,13.98,282.5,132,12.71,10.6,6,2.86,2,False
661,CA,84,415,No,No,0,280.0,113,47.60,202.2,90,17.19,156.8,103,7.06,10.4,4,2.81,0,True
663,AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False

In [48]:
# for copareing multiple multiple columns
df3=df1[(df1['Total intl charge']>1.46) & (df1['Total intl charge']<3.0) & (df1['International plan']=='Yes')]
df3

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
47,KS,92,408,Yes,No,0,62.6,111,10.64,180.6,126,15.35,221.7,80,9.98,10.4,2,2.81,1,True
80,MA,129,510,Yes,No,0,192.9,131,32.79,185.5,101,15.77,205.2,130,9.23,10.9,4,2.94,1,False
98,ME,75,408,Yes,No,0,211.3,61,35.92,105.6,119,8.98,175.9,63,7.92,9.7,4,2.62,4,True
109,WI,69,510,Yes,No,0,279.8,90,47.57,248.7,91,21.14,171.0,118,7.69,8.4,10,2.27,2,True
110,VT,95,510,Yes,Yes,41,136.8,91,23.26,200.8,61,17.07,133.7,67,6.02,10.3,9,2.78,5,True
124,WA,166,408,Yes,Yes,35,128.2,138,21.79,274.5,113,23.33,298.9,130,13.45,8.8,7,2.38,2,False
152,ID,83,415,Yes,Yes,32,94.7,111,16.10,154.4,98,13.12,200.4,109,9.02,10.6,6,2.86,2,False
159,NM,87,510,Yes,No,0,167.3,119,28.44,198.5,119,16.87,133.1,88,5.99,11.0,6,2.97,1,False
163,WI,149,415,Yes,Yes,28,126.9,97,21.57,166.9,102,14.19,145.2,77,6.53,8.8,3,2.38,5,True
165,ND,167,408,Yes,No,0,219.1,100,37.25,242.9,90,20.65,168.9,101,7.60,10.1,4,2.73,2,False
168,AZ,92,415,Yes,Yes,45,281.1,88,47.79,198.0,103,16.83,94.3,76,4.24,7.5,3,2.03,0,False
179,MA,136,408,Yes,No,0,199.6,89,33.93,211.4,96,17.97,72.4,84,3.26,11.0,4,2.97,3,True
183,NE,127,510,Yes,No,0,180.9,114,30.75,209.5,118,17.81,249.9,105,11.25,7.4,4,2.00,2,False
186,MO,167,415,Yes,No,0,244.8,91,41.62,60.8,105,5.17,176.7,110,7.95,10.7,3,2.89,2,False
208,ND,12,510,Yes,No,0,216.7,117,36.84,116.5,126,9.90,220.0,110,9.90,9.8,4,2.65,2,False
217,NY,94,510,Yes,No,0,243.2,109,41.34,147.0,88,12.50,94.9,99,4.27,7.2,4,1.94,4,False
246,MD,37,415,Yes,No,0,106.6,76,18.12,147.4,89,12.53,235.8,113,10.61,9.6,8,2.59,2,False
252,NM,119,415,Yes,Yes,15,160.0,95,27.20,209.5,110,17.81,82.3,107,3.70,8.7,5,2.35,5,True
269,RI,85,415,Yes,No,0,197.2,97,33.52,211.7,115,17.99,210.1,133,9.45,8.3,4,2.24,4,False
327,KS,105,415,Yes,No,0,273.9,119,46.56,278.6,103,23.68,255.3,90,11.49,10.9,7,2.94,1,True
400,DE,81,510,Yes,No,0,250.6,85,42.60,187.9,50,15.97,120.3,131,5.41,7.8,5,2.11,1,False
402,MI,126,415,Yes,Yes,26,129.3,123,21.98,176.5,114,15.00,154.5,102,6.95,9.6,7,2.59,1,False
415,IL,87,408,Yes,Yes,36,171.2,138,29.10,185.8,102,15.79,227.6,97,10.24,10.8,3,2.92,1,False
418,IL,55,415,Yes,No,0,269.6,121,45.83,171.7,91,14.59,219.0,98,9.86,8.2,6,2.21,1,False
434,NE,112,415,Yes,Yes,16,200.3,72,34.05,197.8,91,16.81,151.1,92,6.80,10.4,3,2.81,1,False
440,RI,63,415,Yes,No,0,62.9,112,10.69,202.9,111,17.25,259.0,58,11.66,8.9,8,2.40,1,False
444,MS,98,415,Yes,Yes,23,245.5,54,41.74,292.7,83,24.88,184.0,90,8.28,10.8,7,2.92,1,False
460,WY,127,510,Yes,No,0,247.5,99,42.08,108.5,118,9.22,232.0,72,10.44,10.6,3,2.86,2,False
495,OR,138,415,Yes,Yes,28,211.2,117,35.90,312.5,98,26.56,178.0,118,8.01,10.7,2,2.89,3,True
578,MN,155,408,Yes,No,0,250.8,146,42.64,152.5,105,12.96,148.1,104,6.66,10.0,5,2.70,2,False
591,MO,101,415,Yes,No,0,156.4,116,26.59,130.4,114,11.08,207.3,109,9.33,7.3,5,1.97,1,False

In [50]:
# show the table whose internation palan is no and Total eve minutes is in betw 120 - 180
df4=df1[(df1['Total eve minutes']>120) & (df1['Total eve minutes']<180) & (df1['International plan']=='No')]
df4

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
5,AK,36,408,No,Yes,30,146.3,128,24.87,162.5,80,13.81,129.3,109,5.82,14.5,6,3.92,0,False
6,MI,65,415,No,No,0,211.3,120,35.92,162.6,122,13.82,134.7,118,6.06,13.2,5,3.56,3,False
11,HI,85,415,No,No,0,235.8,109,40.09,157.2,94,13.36,188.2,99,8.47,12.0,3,3.24,0,False
12,MN,46,415,No,No,0,214.1,72,36.40,164.4,104,13.97,177.5,113,7.99,8.2,3,2.21,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,WI,142,510,No,No,0,232.1,102,39.46,168.2,110,14.30,197.3,120,8.88,9.9,3,2.67,1,False
649,KS,127,415,No,Yes,24,154.8,69,26.32,177.2,105,15.06,207.6,102,9.34,9.0,4,2.43,1,False
654,NY,120,510,No,Yes,27,128.5,115,21.85,163.7,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False
655,WI,87,415,No,No,0,238.0,97,40.46,164.5,97,13.98,282.5,132,12.71,10.6,6,2.86,2,False
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False

In [51]:
pd.concat([df3,df4],axis=0)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
47,KS,92,408,Yes,No,0,62.6,111,10.64,180.6,126,15.35,221.7,80,9.98,10.4,2,2.81,1,True
80,MA,129,510,Yes,No,0,192.9,131,32.79,185.5,101,15.77,205.2,130,9.23,10.9,4,2.94,1,False
98,ME,75,408,Yes,No,0,211.3,61,35.92,105.6,119,8.98,175.9,63,7.92,9.7,4,2.62,4,True
109,WI,69,510,Yes,No,0,279.8,90,47.57,248.7,91,21.14,171.0,118,7.69,8.4,10,2.27,2,True
110,VT,95,510,Yes,Yes,41,136.8,91,23.26,200.8,61,17.07,133.7,67,6.02,10.3,9,2.78,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,WI,142,510,No,No,0,232.1,102,39.46,168.2,110,14.30,197.3,120,8.88,9.9,3,2.67,1,False
649,KS,127,415,No,Yes,24,154.8,69,26.32,177.2,105,15.06,207.6,102,9.34,9.0,4,2.43,1,False
654,NY,120,510,No,Yes,27,128.5,115,21.85,163.7,91,13.91,242.9,121,10.93,0.0,0,0.00,1,False
655,WI,87,415,No,No,0,238.0,97,40.46,164.5,97,13.98,282.5,132,12.71,10.6,6,2.86,2,False
662,WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False

In [ ]:
#how to handal null value 
# how to check outlayer floating in data frame, merge fun., dummy fun., split fun.
# how to change col name
# how to reset index
#

In [ ]:
# Q1. create a data frame which have 10 columns 1st column has a normally distributed values 2nd column has binomial distributed value
# 4th column value lie btw -19 to +19 and the 5th col you have to take random value 
# #Q2. no. of row =500, create a data frame do all pandas operation

In [4]:
import seaborn as sns