In [1]:
def fact(x):
    ans=1
    for i in range(1,x+1):
        ans*=i
    return ans
n=int(input('enter n value'))
r=int(input('enter the r value'))
n_fact=fact(n)
r_fact=fact(r)
nminusr=fact(n-r)

print('nCr =',n_fact/r_fact*nminusr)

nCr = 40.0

In [3]:
#positional argument must be passed in correct position order
def fun(name,age,id1):
    print(age,id1)
    print(name.upper())
fun('saquib',21,'saq22')
# fun(21,'saquib','saq22')

21 saq22
SAQUIB

In [ ]:
#keyword argument can be passed out of the order
def fun(name,age,id1):
    print(age,id1)
    print(name.upper())
fun(name='saquib',age=21,id1='saq22')
# fun(age=21,name='saquib',id1='saq22')

21 saq22
SAQUIB
21 saq22
SAQUIB

In [ ]:
#can also send mix of positional and keyword argument in that case
#positional argument must precede keyword argument
def fun(name,age,id1):
    print(age,id1)
    print(name.upper())
fun('saquib',id1='saq22',age=21)
# fun(21,name='saquib',id1='saq22') #gives error(fun() got multiple values for argument 'name') because after atleast 1 positional argument keyword argument can be use

21 saq22
SAQUIB

TypeError: fun() got multiple values for argument 'name'

In [13]:
def sum(a,b):
    return a+b
sum(2,3)
#for multiple elements so that it can be add
def sum(*num):
    # print(type(num))
    ans=0
    for i in num:
        ans+=i
    print(ans)
sum(1,2,3)
sum(1,2,3,4,5,76,7,8)

6
106

In [14]:
def sum1(* num):
    sum=0
    for i in num:
        sum+=i
    print(sum)

lst=[10,20,30]
tpl=(10,20,30,40,50)
st={10,20,30,40,50}
dict1={10:5,20:10,30:15}
sum1(* lst)
sum1(* tpl)
sum1(* st)
sum1(* dict1)

60
150
150
60

In [16]:
#for variable length keword argument we use **args( ** accepts as a dict)
def print_it(** num):
    print(type(num))
    for name,value in num.items():
        print(name,value, end=' ')
print_it(a=10,b=20,c=30,d=40)

<class 'dict'>
a 10 b 20 c 30 d 40

In [17]:
def fun(a,b=100,c=3.14):# can be set as defult value assigned by programmer
    print(a+b+c)
w=fun(10)
x=fun(10,50)
z=fun(20,30,60)

113.14
63.14
110

In [29]:
def fact(n):
    if n>=1:

        ans=1
        for i in range(1,n+1):
            ans*=i
        print(ans)
fact(int(input()))

120

In [32]:
def st(* n):
    upper=0
    lower=0
    for i in n:
        if i==' ':
            upper-=1
        if i==i.upper():
            upper+=1
        else:
            lower+=1
    return upper,lower
x="The Quick Brown Fox"
st(* x)

(4, 12)

wap which will create a function to check if elements of a given list are sum of prime no.

In [1]:
def is_prime(* n):
    prime=0
    not_prime=0
    for j in n:
        if j<=1:
            not_prime+=1
        for i in range(2,j):
            if j%i==0:
                not_prime+=j
                break
        else:
            prime+=j
    return prime,not_prime
x=[1,2,3,4,5,6,7,8]
is_prime(* x)

(18, 19)

In [2]:
def sum_prime(* n):
    prime=0
    for i in n:
        if i==1:
            continue
        for j in range(2,i):
            if i%j==0:
                break
        else:
            prime+=i
    return prime
x=[1,2,3,4,5,6,7,8]
sum_prime(* x)

17

In [ ]:
#lambda arguments:expression 
# they can be assigndd to a variable and then used
x=lambda n:n*n*n
print(type(x)) # bidefault lamda function return karta h 
print(x(3))
print(type(x(3)))

<class 'function'>
27
<class 'int'>

In [ ]:
(lambda n:n*n*n)(3) # other way to assign lambda in one line

27

In [11]:
x=lambda a,b,c:(a+b+c)/3
print(x(int(input()),int(input()),int(input())))

a=int(input('enter:'))
b=int(input('enter:'))
c=int(input('enter:'))
x=lambda a,b,c:(a+b+c)/3
print(type(x))
print(x(a,b,c))

2.0
<class 'function'>
1.3333333333333333

wap which will take str as a input and check wether the string start with a or not

In [ ]:
a=input()
x=lambda a:True if a[0]=='a' else False
print(x(a))
# x=input()
# a= lambda x:x[0]=='a'
# print(a(x))

True

In [21]:
x=int(input())
y=lambda x:'Divisible' if x%5==0 else 'Not Divisible'
print(y(x))

Not Divisible

write a program which will take a str as an input from user and check if any vowel are present in string or not

In [ ]:
# y=input()
# x=lambda y:True if 'a' in y  or 'e' in y  or 'i' in y  or 'o' in y or 'u' in y or 'A' in y or 'E' in y or 'I' in y or 'O' in y or 'U' in y else False
# print(x(y))


Y=input().lower()
x=lambda y:True if 'a' in y or 'e' in y or 'i' in y  or 'o' in y  or 'u' in y   in y else False
print(x(y))

False

In [39]:
#higher order function 
def cube(x):
    return x**3
def square(x):
    return x**2
def transform(fun,seq):
    lst1=[]
    for i in seq:
        lst1.append(fun(i))
    return lst1
lst=[1,2,3,4,5]
print(f'list of cube:- {transform(cube,lst)}')
print(f'list of square:- {transform(square,lst)}')

list of cube:- [1, 8, 27, 64, 125]
list of square:- [1, 4, 9, 16, 25]

take str input to user and creat 2 function 1.remove vowle 2.remove consonent

In [8]:
n=input().lower()
print(n)
def remove_vowel(x):
    v=""
    for i in x:
        if i!='a' and i!='e' and i!='i' and i!='o' and i!='u':
            v+=i
    return v
def remove_cons(x):
    c=""
    for i in x:
        if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
            c+=i
    return c
def transform(fun,seq):
    return (fun(seq))
print(f'vovel removed:- {transform(remove_vowel,n)}')
print(f'hellocons removed:- {transform(remove_cons,n)}')

hello
vovel removed:- hll
hellocons removed:- eo

In [9]:
#map function 
# syntex:-map(function, sequence)
# ir returns objects and can be changed in any type such as list,tuple etc

#square the items of list 
lst=[1,2,3,4,5,6]
x=list(map(lambda x:x**2,lst))
print(x)

[1, 4, 9, 16, 25, 36]

In [13]:
#calculate the area of circles using the given list of radius
lst=[1.25,3.22,4.68,10.95,23.55,12]
x=list(map(lambda x:x**2*3.14,lst))
print(x)

[4.90625, 32.556776000000006, 68.773536, 376.49385, 1741.4518500000004, 452.16]

In [ ]:
# find the length of all the strings in a list taken from the user
n=eval(input())
x=list(map(lambda x:len(x),n))
print(x)

<class 'str'>
[1, 1, 1, 1, 1, 1]

In [24]:
#filter()
# syntax:- filter(function,sequance)

# make a list of all the elements grater than 4

lst=[2,4,5,7,2,3,9,1,12]
x=list(filter(lambda x:x>4,lst))
print(x)

[5, 7, 9, 12]

In [25]:
# make list of all element divisible by 5
lst=[12,14,15,10,11,25,45]
x=list(filter(lambda x:x%5==0,lst))
print(x)

[15, 10, 25, 45]

In [26]:
#select those strings which contain 'a'
tup=('mango','hello','RICR','Coding','table','maths')
x=tuple(filter(lambda x:'a' in x,tup))
print(x)

('mango', 'table', 'maths')

In [27]:
#filter out the strings which have last letter 'a'
lst=['Ambani','Adani','Tata','Bata']
x=list(filter(lambda x:x[-1]=='a',lst))
print(x)

['Tata', 'Bata']

In [28]:
# return the sum of list
from functools import reduce
l=[2,3,4,5,6,7,8]
y=reduce(lambda x,y:x+y,l)
print(y)

35

reduce ke help se 1 list h uska max of a list nikalna h