In [ ]:
x=[2,3,4,6,'hii']
print (type(x))
empty_list=[]
print(type(empty_list))
list_str=['one','two','three']
print(type(list_str))
list_int=[1,2,3,4,5]
print(type(list_int))
list_list=[[1,2,3,5,6,],[2,3,4]]
print(type(list_list))
lst_mixed=[1,'ramu',-1]
print(lst_mixed)

In [ ]:
lst=['q','c','r','e','x']
print(lst[0])
print(lst[2])
print(lst[4])
print(lst[-1])

slicing

In [ ]:
x=[3,5,7,17,11,15,12,9]
print(x[2:6:2])
print(x[6:1:-3])

print(x[-7:6:3])
print(x[6:-6:2])

In [ ]:
#updation of list element
x=[1,2,3,4,5,6,7,12,[1,3,4,6]]
print(x)
x[4]=19
print(x)
#append add the value in last of the list
x.append(859)
print(x)
#for specific position we use insert.in negative the index will add ex if you are given on -2 it will be add on -3
#it works n two part 1st it will step the index wich is on it and then add eg. given below
x.insert(3,36628)
print(x)
x.insert(-2,555)
print(x)
#extend method:one by one element add karne ke liy use karte hai.
l1=[1,2,3,[4,5,6]]
l2=[8,9,0,3,5]
l1.extend(l2)
print(l1)
l2.extend(l1)
print(l2)

In [ ]:
x=[3,5,7,8,3,2,1]
x.append([5,7,9])
print(x)
x.append(7)
print(x)
x.insert(3,[5,7,8])
print(x)
x.insert(-3,[2,5])
print(x)

In [ ]:
#deletion of element 
x=[3,5,7,8,3,2,1]
del x[2]#2= element index
print(x)
#deletion of lst
del x
print(x)
# it will show the error of nameerror because tha x named list is deleted on 6 line

In [ ]:
#pop method 
# we can delete element using pop from the given index, pop return the deleted element 
# it delete according to index value of the given list.
x=[1, 2, 3, 36628, 4, 19, 6, 7, 12, 555, [1, 3, 4, 6], 859]
a=x.pop(3)
print(x)
print(a)

In [ ]:
# remove method
#remove the first occurance of given an item from list 
# it dosenot follow index value only follow the element
#if value is not present in the list then it show the error (value error),so the element we are remoing should be present in the list
x=[1, 2, 3, 36628, 4, 19, 6, 7, 12, 555, [1, 3, 4, 6], 859]
print(x)
x.remove(2)
print(x)

Q. take an input form user and check wether it is prime or not.

In [9]:
n=int(input())
def is_prime(n):
    if n<2:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    else:
        return True
is_prime(n)

False

In [26]:
n=int(input())
if n<2:
    print(False)
else:
    for i in range(2,n):
        if n%i==0:
            print(False)
            break
    else:
        print(True)

False

In [ ]:
n=int(input())
if n==1:
    print(False)
    
for i in range(2,n):
    if n%i==0:
        print(False)
        break
else:
    print(True)

False
True

In [2]:
n=int(input('enter the no.'))
for i in range(n-1,1,-1):
    if n%i==0:
        print('not prime no.')
        break
else:
    print('prime ')

prime

In [ ]:
#count method
#the count method in a list is used to count the number of times a specific element appears in the list 
x=[1, 2, 3, 36628, 4, 19, 6, 7, 12, 555, [1, 3, 4, 6], 859]
print(x.count(3))

In [ ]:
#reverse method
#reverse is reverses the entire element of the list 

x=[1, 2, 3, 36628, 4, 19, 6, 7, 12, 555, [1, 3, 4, 6], 859]
print(x[10][1])
x.reverse()
#print(x[::-1])
#print(a)
print(x)

In [ ]:
#index method
#to check the element is present at which index but make sure the element is present in the list 
# it show the first occurance of the element 
x=[1, 2, 3, 36628, 4, 19, 6, 7, 12, 555, [1, 3, 4, 6], 859]
print(x.index(36628))
print(x)

x=[3,5,7,2,9,11,4,18]
this is the list prind the itartion of the elements in list
output= 3 5 7 2 9 11 4 18

In [19]:
x=[3,5,7,2,9,11,4,18]

for i in range(len(x)):
    #print(i,end='')
    print(x[i],end=' ')

3 5 7 2 9 11 4 18

print the sum of all even no. in the given list
x=[3,5,7,2,9,11,4,18]

In [20]:
x=[3,5,7,2,9,11,4,18]
z=0
for i in range(len(x)):
    if x[i]%2==0:
        z+=x[i]
print(z)

24

add 1 if the element is even in the given list
x=[3,5,7,2,9,11,4,18]

In [21]:
x=[3,5,7,2,9,11,4,18]
for i in range(len(x)):
    if x[i]%2==0:
        x[i]+=1
print(x)

[3, 5, 7, 3, 9, 11, 5, 19]

check the list of element if the index is even then add 2 else index is odd then sub 2

In [22]:
x=[2,4,6,8,10,12,14,16,18,20]
for i in range(len(x)):
    if i%2==0:
        x[i]+=2
    elif i%2!=0:
        x[i]-=2
print(x)

[4, 2, 8, 6, 12, 10, 16, 14, 20, 18]

swap the element of list with the upcoming element

In [23]:
x=[2,4,6,8,10,12,14,16,18,20]
for i in range(0,len(x),2):
    x[i],x[i+1]=x[i+1],x[i]
print(x)

[4, 2, 8, 6, 12, 10, 16, 14, 20, 18]

1.wap which will increase all the odd values with 5 and decrease even values with 7

In [ ]:
#w.r.t element
x=[3,5,2,7,8,4,12,17,19,22]
for i in range(len(x)):
    if x[i]%2==0:
        x[i]-=7
    else:
        x[i]+=5
print(x)

In [ ]:
# w.r.t. index
x=[3,5,2,7,8,4,12,17,19,22]
for i in range(len(x)):
    if i%2==0:
        x[i]-=7
    else:
        x[i]+=5
print(x)

2.wap which will print the sum of all the value present at even index

In [ ]:
x=[3,5,2,7,8,4,12,17,19,22]
y=0
for i in range(len(x)):
    if i%2==0:
        y+=x[i]
        
print(y)

3.wap which will print the sum of all the value present at odd index

In [ ]:
x=[3,5,2,7,8,4,12,17,19,22]
y=0
for i in range(len(x)):
    if i%2!=0:
        y+=x[i]
        
print(y)

4.wap which will replace values which are at even index and value is also even with 'even'

In [ ]:
x=[3,5,2,7,8,4,12,17,19,22]
for i in range(len(x)):
    if i%2==0 and x[i]%2==0:
        x[i]='even'
print(x)

5.wap which will replace values which are at odd index and value is also odd with 'odd'

In [ ]:
x=[3,5,2,7,8,4,12,17,19,22]
for i in range(len(x)):
    if i%2!=0 and x[i]%2!=0:
        x[i]='odd'
print(x)

wap which replace numbers of list with fiz if list no. is div by 5 otherwise if list no. is div 3 replace it with buzz if both replace with fiz buzz else no. unchange

In [ ]:
x=[3,5,2,7,8,4,12,17,30,19,22,28,24,54,67,734,4232,15,4,56,4]
for i in range(len(x)):
    if x[i]%3==0 and x[i]%5==0:
        x[i]='fizzbuzz'
     
    elif x[i]%5==0:
        x[i]='buzz'
    elif x[i]%3==0:
        x[i]='fizz'
print(x)

cout of 3 multiple and sum

In [ ]:
#multiples
x=[3,5,2,7,8,4,12,17,19,22,28,24,54,67,734,4232,15,4,56,4]
y=0
z=0
for i in range(len(x)):
    if x[i]%3==0:
        
        y+=x[i]
        z+=1
        
print(' sum =',y,'\n','count =',z)

In [ ]:
#factor
x=[3,5,2,7,8,4,12,17,19,22,28,24,54,67,734,4232,15,4,56,4]
y=0
z=0
for i in range(len(x)):
    if 3%x[i]==0:
        
        y+=x[i]
        z+=1
        
print(' sum =',y,'\n','count =',z)

In [ ]:
x=[3,5,2,7,8,4,12,17,19,22]
x.pop(3)
x.insert(-3,5)
x.remove(8)
x.append(80)
x.insert(-2,5)
x.insert(-14,61)
x.insert(15,75)
print(x)

In [ ]:
#sorting 
x=[3,5,2,7,8,4,12,17,19,22]
x.sort() # change in original list 
print(x)
x=[3,5,2,7,8,4,12,17,19,22]
s=sorted(x)#does not change the original list 
print(s)
print(x)

the sorted() optional argument reverse=True,eg, sorted(list,revers=True),makes it sort backwards

In [29]:
x=[3,5,2,7,8,4,12,17,19,22]
x.sort (reverse=True)# reverse the entire list
print(x)

[22, 19, 17, 12, 8, 7, 5, 4, 3, 2]

In [ ]:
x=int(input())
x.insert

In [ ]:
N = int(input())
N=[]
N.insert(0,5)
N.insert(1,10)
N.insert(0,6)
print(N)
N.remove(6)
N.append(9)
N.append(1)
N.sort()
print(N)
N.pop()
N.reverse()
print(N)

In [ ]:
#min(list)
# min function returns the minimum number in the list
x=[5,3,4,6,7,3,8,2]
y=min(x)
print(y)
x=[5,3,4,6,7,3,8,[3,45,6],2]
z=min(x)
print(z)# it will return error

In [ ]:
#max(list)
# max function returns the maximum number in the list
x=[5,3,4,6,7,3,8,2]
y=max(x)
print(y)

In [ ]:
# list extend using "+"
a=[1,2,3,4,5]
b=[4,5,6,7,[8,9,],1,2,4]
y=a+b
print(y)

In [ ]:
# list repeatarion using '*'
a=[1,2,3,4,5]
b=a*4
print(b)

In [ ]:
# membership operator
#in ,not in
x=['apple','banana','cherry']
print('apple' in x)
print('orange'not in x)
print('apple'not in x)
print('orange' in x)

In [ ]:
#lisr having multiple references
#when we use only asignment operator then it is known as shellow copy
x=[1,2,3,4,5]
b=x
b.append(6)
x.append('h')
print(x)
print(b)

In [ ]:
#if we wan that their will be  no change in our original list
x=[1,2,3,4,5]
b=x.copy()
x.append('h')
print(x)
print(b)

WAP which will finds the sum of squares of all the elements of the given list

In [ ]:
x=[2,4,5,8,1]
y=0
for i in range(len(x)):
    x[i]=x[i]**2
    y+=x[i]
print(x)
print(y)

In [ ]:
x=[1,2,3,4,5,6,7,9,12,11]
y=[]
for i in range(len(x)):
    if x[i]%2==0:
        y.append(x[i])
print(y)

In [ ]:
x=[1,2,3,4,5,6,7,9,12,11]
z=0
y=[x[i]**2 for i in range(len(x)) if x[i]%2==0]
#y=sum([x[i]**2 for i in range(len(x)) if x[i]%2==0])
print(sum(y))

In [ ]:
#list comprehension
x=[1,2,3,4,5,6,7,9,12,11]
y=[x[i]**2 for i in range(len(x)) ]
print(y)

In [ ]:
x=[1,2,3,4,5,6,7,9,12,11]
y=[x[i]**2 for i in range(len(x)) if x[i]%2==0]
print(y)

In [ ]:
x=[1,2,3,4,5,0,-8,-8,-9,0,6,-5]
positive=[x[i] for i in range(len(x)) if x[i]>=0]
print(positive)
negative=[x[i] for i in range(len(x)) if x[i]<0]
print(negative)

find union of two lists

In [ ]:
x1=[3,5,3,7,9,12]
x2=[2,8,7,9,11,13,8]
y=[]
for i in range(len(x1)):
    if x1[i] not in y:
        y.append(x1[i])
for i in range(len(x2)):
    if x2[i] not in y:
        y.append(x2[i])
print(y)

find intersection of two lists
nite:common elements

In [ ]:
x1=[3,5,3,7,9,12]
x2=[2,8,7,9,11,13,8]
y=[]
for i in range(len(x1)):
   if x1[i] in x2 and x1[i] not in y:
      y.append(x1[i])
print(y)

add same index value of both list and make another list

In [ ]:
x1=[3,5,3,7,9,12,7]
x2=[2,8,7,9,11,13,8]
y=[]
for i in range(len(x1)):
    z=x1[i]+x2[i]
    y.append(z)
print(y)

prin minimum no. of same index value of both list

In [ ]:
x1=[3,5,3,7,9,12,7,9]
x2=[2,8,7,9,11,13,8,9]
y=[]
for i in range(len(x1)):
    if x1[i]>x2[i]:
        y.append(x2[i])
    else:
        y.append(x1[i])
print(y)

In [3]:
x=[3,5,7,9,11,12,13,15]
x1=[3,5,8,12,7,15,14]
x2=[3,5,7,9,11,13,15,14]
for i in range(len(x)-1):
    # print(x[i+1])
    if x[i]>x[i+1]:
        print('not sorted')
        break
else:
    print('sorted')
# for i in range(len(x1)-1):
#     if x1[i]>x1[i+1]:
#         print('not sorted')
#         break
# else:
#     print('sorted')
# for i in range(len(x2)-1):
#     if x2[i]>x2[i+1]:
#         print('not sorted')
#         break
# else:
#     print('sorted')

sorted

In [ ]:
lst=[3,5,7,9,11]
for i in lst:
    print(i)

x=[[3,5,7,9,],[5,4,3,2],[8,2,5],[7,29]]
calculate the sum of all elements in the list

In [ ]:
x=[[3,5,7,9,],[5,4,3,2],[8,2,5],[7,29]]
sum=0
for i in range(len(x)):
    z=x[i]
    for j in z:
        sum+=j
print(sum)

In [ ]:
x=[[3,5,7,9,],[5,4,3,2],[8,2,5],[7,29]]
y=[]
for i in range(len(x)):
    z=x[i]
    s=0
    for j in z:
        s+=j
    y.append(s)
print(y)

In [ ]:
x=[[3,5,7,9,],[5,4,3,2],[8,2,5],[7,29]]
y=[]
for i in range(len(x)):
    z=x[i]
    y.append(sum(z))
print(y)

In [ ]:
y=[]
x=[[3,5,7,9,],[5,4,3,2],[8,2,5],[7,29]]
for i in x:
    y.append(sum(i))
print(y)

In [ ]:
y=[]
x=[[3,5,7,9,],[5,4,3,2],[8,2,5],[7,29]]
for i in x:
    y.append(sum(i))
y.index(max(y))

In [ ]:
x=[[3,5,7,9,],[5,4,3,2],[8,2,5],[7,29]]
y=[]
for i in range(len(x)):
    z=x[i]
    l=0
    for j in z:
        
        l+=j
    y.append(l)
for m in range(len(y)-1):
    
    if y[i]>y[i-1]:
        n=i
print(i)

In [ ]:
x=[3,5,7,9,11,13,7,12]
# x=[-5,-7,-8,-12,-3]
a=x[0]
for i in range(len(x)):
    if x[i]>a:
        a=x[i]
print(a)

In [ ]:
7 
a=x[0]
for i in x:
    if i>a:
        a=i
print(a)
print('hello')

In [ ]:
x=[3,5,7,9,11,13,7,12]
if x[0]>x[1]:
    lgst=x[0]
    seclgst=x[1]
else:
    lgst=x[1]
    seclgst=[0]
for i in range(2,len(x)):
    if x[i]>=lgst:
        seclgst= lgst
        lgst=x[i]
    elif x[i]>seclgst:
        seclgst = x[i]
print(seclgst)

lst=[33,24,12,22,1,20,5]
output=[33,24,22,20,5]
wap print the element of given list which have not grater no. then the all element of lst

In [ ]:
lst=[33,24,12,22,1,20,5]
x=[5]
a=lst[-1]
for i in range(-2,-len(lst)-1,-1):
    if lst[i]>a:
        a=lst[i]
        x.append(a)
x.reverse()
print(x)

In [ ]:
lst=[33,24,12,22,1,20,5]
x=[]
x.append(lst[-1])
a=lst[-1]
for i in range(-2,-len(lst)-1,-1):
    if lst[i]>a:
        a=lst[i]
        x.append(a)
x.reverse()
print(x)

In [ ]:
x=[3,5,2,7,14,15,12,5]
y=[i+10 if i%2==0 else i+15 for i in x]
print(y)

x=[[3,5,7,9],[5,7,11,15],[3,7,9,15,22]]
give output of sum of even index element and sum of odd index element

In [ ]:
x=[[3,5,7,9],[5,7,11,15],[3,7,9,15,22]]
evn=0
odd=0
for i in x:
    for j in range(len(i)):
        if j%2==0:
            evn+=i[j]
        else:
            odd+=i[j]
print('even',evn)
print('odd',odd)

In [ ]:
x=[[3,5,7,9],[5,7,11,15],[3,7,9,15,22]]
evn=0
odd=0
for i in range(len(x)):
    for j in range(len(x[i])):
        if j%2==0:
            evn+=x[i][j]
        else:
            odd+=x[i][j]
print('even',evn)
print('odd',odd)

In [ ]:
x=[[3,5,7,9],[2,8,12,19],[7,9,12,18],[3,2,1,5]]
#output =[ [8,12,19,9],[2,3,5,7],[2,1,5,18],[3,7,9,12]]  
for i in range(len(x)):    
    for j in range(3):
        if i%2==0:
            x[i][j],x[i+1][j+1]=x[i+1][j+1],x[i][j]
            
print(x)

In [1]:
x=[[3,5,7,9],[2,8,12,19],[7,9,12,18],[3,2,1,5]]
y=[]
for i in range(len(x)):
    y.append(x[i])
for i in range(len(y)):    
    for j in range(3):
        if i%2==0:
            y[i][j],y[i+1][j+1]=y[i+1][j+1],y[i][j]
            
print(y)

[[8, 12, 19, 9], [2, 3, 5, 7], [2, 1, 5, 18], [3, 7, 9, 12]]

In [5]:
x=('apple','banana','cherry')
for i in range(len(x)):
    print(x[i][0],x[i][-1])

a e
b a
c y

In [ ]:
x=('red','green','blue','yellow')
if x[-2]=='blue':
    print(x[-2])
else:
    print('not ')

blue

In [6]:
tpl = ('a', 'b', 'c', 'd', 'e')
s=0
z=tpl[2:5]
print(z)
for i in range(len(z)):
    s+=i
print(s)

('c', 'd', 'e')
3

Q4. Write a python program to concatenate the given tuples. Print
the result and then sort the tuple and print it.
t1 = ('a', 'b', 'c')
t2 = ('d', 'e', 'f')
Output: ('a', 'b', 'c', 'd', 'e', 'f')
('a', 'b', 'c', 'd', 'e', 'f')

In [7]:
t1 = ('a', 'b', 'c')
t2 = ('d', 'e', 'f')
s=t1+t2
t=sorted(s)
print(s)
print(t)

('a', 'b', 'c', 'd', 'e', 'f')
['a', 'b', 'c', 'd', 'e', 'f']

Q5. Write a program to count how many times 5 appears and find
the index of the first occurrence of 3. Print both results.
t = (1, 2, 3, 4, 5, 5, 5, 6).

In [ ]:
t = (1, 2, 3, 4, 5, 5, 5, 6)
c=t.count(5)
print('count=',c)
for i in range(len(t)):
    if t[i]==3:
        print('index=',i)

count= 3
index 2

Q6. Write a program to create a tuple with elements ('cat', 'dog',
'mouse', 'elephant'). Slice it to get the first two elements and print
them and also print the after sorting the tuple.

In [13]:
t=('cat', 'dog','mouse', 'elephant')
s=t[:3]
print('first two element =',s)
y=sorted(t)
print(y)

first two element = ('cat', 'dog', 'mouse')
['cat', 'dog', 'elephant', 'mouse']

Q7. Write a python program which prints the last element of given
tuple and check if 'Hello' is in the tuple. Print the results.
tpl = ('python', 'java', 'c++', 'ruby')
Output: ‘ruby’
False

In [14]:
tpl = ('python', 'java', 'c++', 'ruby')
print(tpl[-1])
print('hello' in tpl)

ruby
False

Q8. Write a python program to create a tuple with elements ('hello',
'world', 'python'). Print its length then add ‘3’ as int at the last of
tuple and Print
Output: 3
[‘hello’,’world’,’python’,3]

In [16]:
tpl=('hello','world', 'python')
print(len(tpl))
x=list(tpl)
x.append(3)
print(x)

3
['hello', 'world', 'python', 3]

Q9. Write a python program which access first six elements of the
given tuple, then count how many times 5 appears in the new tuple.
Print both results.
t = (1, 2, 5, 5, 6, 3, 4, 5, 5, 5, 6)

In [18]:
t = (1, 2, 5, 5, 6, 3, 4, 5, 5, 5, 6)
z=t[0:6]
c=z.count(5)
print(z)
print(c)

(1, 2, 5, 5, 6, 3)
2

Q10. Write a python program in which concatenate the given tuples
and print the resulting tuple and the third element of generated
tuple.
t1 = ('java', 'python')
t2 = ('c', 'ruby')

In [19]:
t1 = ('java', 'python')
t2 = ('c', 'ruby')
t=t1+t2
print(t)
print(t[2])

('java', 'python', 'c', 'ruby')
c

Q1. Write a Python program to check if a specified element appears
in a tuple of tuples.
Original Tuple:
(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow',
'Lime'))
Check if White presenet in said tuple of tuples!
True
Check if White presenet in said tuple of tuples!
True
Check if Olive presenet in said tuple of tuples!
False

In [37]:
tpl=(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow','Lime'))
# y=int(input())
# for i in tpl:
#     for j in range(len(i)):
#         print('White' in tpl[i][y])
print('Red' in tpl)

False

Q1. Write a Python program to check if a specified element appears
in a tuple of tuples.
Original Tuple:
(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow',
'Lime'))
Check if White presenet in said tuple of tuples!
True
Check if White presenet in said tuple of tuples!
True
Check if Olive presenet in said tuple of tuples!
False
Q2. WAP to check the tuple contain any duplicate element
Q3. WAP to check if all the element of a tuple are in descending
order or not.
Q4. WAP to check if the elements in the first half of a tuple are
sorted in ascending or not.
Q5. WAP to inputs name of n students and store them in a tuple .
Also, input a name from the user and if this student is present in the
tuple or not. Example:
Input:-
How many student?=5
Enter name of student 1: Anaya
Enter name of student 2:Ausha
Enter name of student 3:Kirat
Enter name of student 4:Kyle
Enter name of student 5:Suji
Output:-
Enter name to be Searched for : Suji
Suji exists in a tuple
Q6. Python program to find unique numbers in a given tuple –
original tuple: (1, 9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 2)
Unique numbers: (1, 9, 6, 3, 4, 5, 2, 7, 8)
Q7. Write a Python program to convert a tuple of string values to a
tuple of integer values.
Original tuple values:
(('333', '33'), ('1416', '55'))
New tuple values:
((333, 33), (1416, 55))
Q8. Write a Python program to calculate the product, multiplying all
the numbers in a given tuple.
Original Tuple:
(4, 3, 2, 2, -1, 18)
Product - multiplying all the numbers of the said tuple: -864
Original Tuple:
(2, 4, 8, 8, 3, 2, 9)
Product - multiplying all the numbers of the said tuple: