Q1. Write a program which add the element 13 to the end of the list 
numbers = [10, 22, 35, 45, 53] after that Print the list.

In [1]:
numbers = [10, 22, 35, 45, 53]
numbers.append(13)
print(numbers)

[10, 22, 35, 45, 53, 13]

Q2.  Write a program which insert the element 20 at index 2 in the 
list numbers = [5, 2, 6, 4, 9]. Print the list after inserting.

In [3]:
numbers = [5, 2, 6, 4, 9]
numbers.insert(2,20)
print(numbers)

[5, 2, 20, 6, 4, 9]

Q3. If List1 = [1,2,3,4] and List2 = [8,6,7,5] then what should be the 
code for the output: [1,2,3,4,8,6,7,5]

In [4]:
List1 = [1,2,3,4]
List2 = [8,6,7,5]
print(List1+List2)

[1, 2, 3, 4, 8, 6, 7, 5]

Q4. Delete the element at index 3 from the list numbers = [10, 2, 36, 
41, 5]. Print the list after deletion.

In [5]:
numbers = [10, 2, 36, 41, 5]
numbers.pop(3)
print(numbers)

[10, 2, 36, 5]

Q5. Delete the element at index 4 from the list Lst = ['apple' , 
'banana' , 'orange' , 'kiwi' , 'guava']   and Print the list after deletion 
and also print that deleted element.

In [6]:
lst = ['apple' , 'banana' , 'orange' , 'kiwi' , 'guava']
a=lst.pop(4)
print(lst)
print(a)

['apple', 'banana', 'orange', 'kiwi']
guava

Q6. Remove the first occurrence of the element 3 from the list 
numbers = [1, 25, 3, 44, 33, 56]. Print the list after removing.

In [7]:
numbers = [1, 25, 3, 44, 33, 56]
numbers.remove(3)
print(numbers)

[1, 25, 44, 33, 56]

Q7. Count the number of times the element 2 appears in the list Lst = 
[15, 2, 2, 3, 4, 2 ,7 ,8 ,45 ,2 ,2]. Print the count.

In [8]:
Lst = [15, 2, 2, 3, 4, 2 ,7 ,8 ,45 ,2 ,2]
a=Lst.count(2)
print(a)

5

Q8. Write a program which prints the reverse list of the given list: 
Lst = [15, 22, 35, 24, 65]

In [15]:
Lst = [15, 22, 35, 24, 65] 
a=Lst[len(Lst)::-1]
print(a)

[65, 24, 35, 22, 15]

Q9. Write a program to which add the element 7 at the last of list Lst 
= [4, 2, 5, 1, 3, 6, 8, 10, 3, 5], then sort the list. Print the list after 
these operations.

In [24]:
lst = [4, 2, 5, 1, 3, 6, 8, 10, 3, 5]
lst.append(7)
a=sorted(lst)
print(a)
print(lst.sort())

[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 10]
None

Q10. Write a program which insert the element 10 at index 1 in the 
list Lst = [12, 24, 35, 24, 45], then remove the element 35. Print the 
list after these operations.

In [25]:
lst = [12, 24, 35, 24, 45]
lst.insert(1,10)
lst.remove(35)
print(lst)

[12, 10, 24, 24, 45]

ass-2

Q1. Write a python program which iterates the given list prints all 
the values inside the list via loop . 
lst = ['mango','apple','banana','ornage','kiwi']

In [2]:
lst = ['mango','apple','banana','ornage','kiwi']
for i in lst:
    print(i,end=',')

mango,apple,banana,ornage,kiwi,

Q2. Write a python program which finds the sum to all the elements 
of the list by iterating that given list. 
lst = [2,4,6,8,12,10,14,24]

In [3]:
lst = [2,4,6,8,12,10,14,24] 
s=0
for i in lst:
    s+=i
print(s)

80

Q3. Write a python program which finds the value (n) in the given list 
= [4,5,3,2,1,6,8], if present then return True otherwise False. 
Note: ‘n’ can be any input value.

In [5]:
lst= [4,5,3,2,1,6,8]
n=int(input())
if n in lst:
    print(True)
else:
    print(False)

True

Q4. Write a python program which update odd indices elements of 
the list by ‘hii’ through iterating that given list. 
lst = [2,4,6,8,1]

In [12]:
lst = [2,4,6,8,1] 

for i in range(len(lst)):
    if i%2!=0:
        lst[i]='hii'
print(lst)

[2, 'hii', 6, 'hii', 1]

Q5. Write a python program which finds and print the average of 
elements of the given list of integers. 
lst = [10,45,23,46,98,56] 
Note: If list changes your code should work properly.

In [15]:
lst = [10,45,23,46,98,56] 
s=0
for i in lst:
    s+=i
print(s/len(lst))

46.333333333333336

Q6. Write a python program which finds the sum of squares of all the 
elements of the given list. 
lst = [2,4,6,8,1]

In [17]:
lst = [2,4,6,8,1]
s=0
for i in lst:
    r=i**2
    s+=r

print(s)

121

Q1. Write a python program to divide the list into two equal halves 
and print the sum of each half. 
lst1 = [2,4,6,8,3,5,8,9] 
Output:  20, 25 
20= (2+4+6+8) 
25= (3+5+8+9)

In [24]:
lst1 = [2,4,6,8,3,5,8,9] 
fhalf=lst1[0:len(lst1)//2]
shalf=lst1[len(lst1)//2:len(lst1)]
f=0
s=0
for i in fhalf:
    f+=i
for i in shalf:
    s+=i
print(f,s)

20 25

Q2. Write a program to delete the element at the index equal to half 
the length of the given list. Print the list before and after deletion. 
Before: [2,3,4,5,6,7,8] 
After: [2,3,4,6,7,8] 
Note: List can be changed.

In [25]:
x=[2,3,4,5,6,7,8] 
x.pop(len(x)//2)
print(x)

[2, 3, 4, 6, 7, 8]

Q3. Write a program to append a new integer to this list, which is the 
sum of the first and last elements of the list. Print the list before and 
after appending. 
Sample List: [23,43,56,87] 
Output: [23,43,56,87,110] 
110= (23+87)

In [26]:
x=[23,43,56,87] 
s=x[0]+x[-1]
x.append(s)
print(x)

[23, 43, 56, 87, 110]

Q4. Write a program to insert the product of the first and last 
elements at the third position in the list. Print the list before and 
after insertion. 
Sample list = [34,56,23,76,23,46] 
Output: [34,56,23,1564,76,23,46] 
1564=(34 * 46)

In [28]:
x=[34,56,23,76,23,46] 
m=x[0]*x[-1]
x.insert(3,m)
print(x)

[34, 56, 23, 1564, 76, 23, 46]

Q5. Write a program to print the list of first and last elements of each 
list of lists. 
lst2 = [[23,45,76],[45,3,12],[3,5,20]] 
Output: [23,76,45,12,3,20]

In [30]:
x=[[23,45,76],[45,3,12],[3,5,20]] 
print(x[0]+x[-1])

[23, 45, 76, 3, 5, 20]

Q6. Write a program to calculate and print the sum of max elements 
of each list of lists. 
lst3 = [[1,2,4,5],[3,5,4,3],[4,5,3,2]] 
Output: 15 (5+5+5)

In [31]:
x=[[1,2,4,5],[3,5,4,3],[4,5,3,2]] 
s=0
for i in x:
    r=max(i)
    s+=r
print(s)

15

Q7. Write a program to calculate and print the sum of elements in 
each list of lists and add the resultant values. Without using sum() 
function. 
Sample list = [[1,2,4,5],[3,5,4,3],[4,5,3,2]] 
Output: [12, 15, 14] 
41 (12+15+14)

In [32]:
x= [[1,2,4,5],[3,5,4,3],[4,5,3,2]]
y=[]
for i in x:
    s=0
    for j in i:
        s+=j
    y.append(s)
print(y)

[12, 15, 14]

Q8. Find the largest element of the above given list without using 
max() and sort() functions. 
lst = [2,5,7,1,4,6,10,11,6,12]

In [36]:
lst = [2,5,7,1,4,6,10,11,6,12,15] 
if lst[0]>lst[1]:
    largest=lst[0]
else:
    largest=lst[1]
for i in range(2,len(lst)):
    if lst[i]>largest:
        largest=lst[i]
print(largest)

15

Q9. Find the Smallest element of the above given list without using 
min() and sort() functions.

In [ ]:
lst = [2,5,7,1,4,6,10,11,6,12] 
if lst[0]<lst[1]:
    smallest=lst[0]
else:
    smallest=lst[1]
for i in range(2,len(lst)):
    if lst[i]<smallest:
        smallest=lst[i]
print(smallest)

0

Q10. Find the Second largest element of the above given list without 
using max() and sort() functions.

In [42]:
lst = [2,5,7,1,4,6,10,11,6,12] 
if lst[0]>lst[1]:
    slargest=lst[1]
    largest=lst[0]
else:
    slargest=lst[0]
    largest=lst[1]
for i in range(2,len(lst)):
    if lst[i]>largest:
        slargest=largest
        largest=lst[i]

    elif lst[i] <largest and lst[i]>slargest:
        slargest=lst[i]

    
    
print(slargest)

11

Q11. Find the Second Smallest element of the above given list 
without using min() and sort() functions.

In [43]:
lst = [2,5,7,1,4,6,10,11,6,12] 
if lst[0]<lst[1]:
    smallest=lst[0]
    ssmallet=lst[1]
else:
    smallest=lst[1]
    ssmallet=lst[0]
for i in range(2,len(lst)):
    if lst[i]<smallest:
        ssmallet=smallest
        smallest=lst[i]
    elif lst[i]> smallest and lst[i]<ssmallet:
        ssmallet=lst[i]
print(ssmallet)

2

Q1. Create a new list which have the squares of every element of the 
given list using list comprehension. 
lst = [2,3,4,5,6,7]  
Output = [4,9,16,25,36,49]

In [1]:
lst = [2,3,4,5,6,7] 
x=[i**2 for i in lst]
print(x)

[4, 9, 16, 25, 36, 49]

Q2. Write a Python program using a list comprehension to create a 
list of even numbers less than 8 from 1 to 20.

In [3]:
x=[i for i in range(2,8,2) ]
print(x)

[2, 4, 6]

Q3. Write a Python program using a list comprehension to create a 
list of numbers from 1 to 10, but only include numbers that are 
greater than 5.

In [6]:
x=[i for i in range(11) if i>5]
print(x)

[6, 7, 8, 9, 10]

Q4. Write a Python program using a list comprehension to create a 
list of the first letters of each word in the given list. 
lst = ['apple', 'banana', 'cherry'].

In [8]:
lst = ['apple', 'banana', 'cherry']
x=[lst[i][0] for i in range(len(lst))  ]
print(x)

['a', 'b', 'c']

Q5. Write a Python program using a list comprehension to create a 
list of the lengths of each word in the given list. 
lst = ['python', 'java', 'c++'].

In [9]:
lst = ['python', 'java', 'c++']
x=[len(i) for i in lst]
print(x)

[6, 4, 3]

Q6. Write a Python program using a nested list comprehension to 
flatten the given list. 
Input list: [[1, 2, 3], [4, 5], [6, 7, 8]]. 
Output: [1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
lst=[[1, 2, 3], [4, 5], [6, 7, 8]]
x=[j for i in lst for j in i]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8]

Q7. Write a Python program using a list comprehension to create a 
list of numbers from 1 to 20 that are divisible by both 2 and 3.

In [13]:
x=[i for i in range(1,21) if i%2==0 and i%3==0]
print(x)

[6, 12, 18]

Q8. Write a Python program using a list comprehension to create a 
list of the sums of corresponding elements from the lists [1, 2, 3] and 
[4, 5, 6]. 
Output: [5, 7, 9]

In [18]:
a=[1, 2, 3]
b=[4, 5, 6]
x=[a[i]+b[j] for i in range(len(a)) for j in range(len(b)) if i==j ]
print(x)

[5, 7, 9]

Q9. Write a python program using list comprehension to create a list 
which has the sums of elements of list of given list. 
lst = [[1,2,3],[3,4,5],[3,4,5],[5,7,3,2]] 
Output: [6,12,12,17]

In [19]:
lst = [[1,2,3],[3,4,5],[3,4,5],[5,7,3,2]] 
x=[sum(i) for i in lst]
print(x)

[6, 12, 12, 17]

Q10. Write a python program using list comprehension to create a 
list which has the min of elements of list of given list. 
lst = [[1,2,3],[3,4,5],[3,4,5],[5,7,3,2]] 
Output: [1,3,3,2]

In [20]:
lst = [[1,2,3],[3,4,5],[3,4,5],[5,7,3,2]] 
x=[min(i) for i in lst]
print(x)

[1, 3, 3, 2]