Q1. Write a python program to create a tuple with elements 'apple', 
'banana', 'cherry'. Print the first and last elements.

In [1]:
tpl=('apple', 'banana', 'cherry')
print(tpl[0],tpl[-1])

apple cherry

Q2. Write a python program which prints the second last element 
and check if 'blue' is in the given tuple. 
t = ('red', 'green', 'blue', 'yellow')

In [3]:
t = ('red', 'green', 'blue', 'yellow') 
x=t[-2]
print(x)
print(x =='blue')

blue
True

Q3. Write a python program in which slice the given tuple to get the 
elements from the second to the fourth position. Print the sliced 
tuple and its length. 
tpl = ('a', 'b', 'c', 'd', 'e')

In [4]:
tpl = ('a', 'b', 'c', 'd', 'e') 
s=tpl[2:5]
print(f'{s} \n length: {len(s)}')

('c', 'd', 'e')
 length: 3

Q4. Write a python program to concatenate the given tuples. Print 
the result and then sort the tuple and print it. 
t1 = ('a', 'b', 'c') 
t2 = ('d', 'e', 'f') 
Output: ('a', 'b', 'c', 'd', 'e', 'f') 
('a', 'b', 'c', 'd', 'e', 'f')

In [8]:
t1 = ('a', 'b', 'c') 
t2 = ('d', 'e', 'f') 
s=t1+t2
x=sorted(s)
x=tuple(s)
print(f'{s} \n{x}')

('a', 'b', 'c', 'd', 'e', 'f')
('a', 'b', 'c', 'd', 'e', 'f')

Q5. Write a program to count how many times 5 appears and find 
the index of the first occurrence of 3. Print both results. 
t = (1, 2, 3, 4, 5, 5, 5, 6).

In [9]:
t = (1, 2, 3, 4, 5, 5, 5, 6)
print(t.count(5))
print(t.index(3))

3
2

Q6. Write a program to create a tuple with elements ('cat', 'dog', 
'mouse', 'elephant'). Slice it to get the first two elements and print 
them and also print the after sorting the tuple.

In [10]:
t=('cat', 'dog', 'mouse', 'elephant')
s=t[0:2]
x=sorted(s)
print(f'{s} \n{tuple(x)}')

('cat', 'dog')
('cat', 'dog')

Q7. Write a python program which prints the last element of given 
tuple and check if 'Hello' is in the tuple. Print the results. 
tpl = ('python', 'java', 'c++', 'ruby') 
Output: ‘ruby’ 
False

In [14]:
tpl = ('python', 'java', 'c++', 'ruby') 
print(tpl[-1])
x='hello' in tpl
print(x)

ruby
False

Q8. Write a python program to create a tuple with elements ('hello', 
'world', 'python'). Print its length then add ‘3’ as int at the last of 
tuple and Print 
Output: 3 
[‘hello’,’world’,’python’,3]

In [16]:
t=('hello', 'world', 'python')
x=list(t)
x.append(3)
print(x)

['hello', 'world', 'python', 3]

Q9. Write a python program which access first six elements of the 
given tuple, then count how many times 5 appears in the new tuple. 
Print both results. 
t = (1, 2, 5, 5, 6, 3, 4, 5, 5, 5, 6)

In [18]:
t = (1, 2, 5, 5, 6, 3, 4, 5, 5, 5, 6) 
x=t[0:7]
print(f'new tupple: {x} \n{x.count(5)}')
print('old tupple:',t)

new tupple: (1, 2, 5, 5, 6, 3, 4)
2
old tupple: (1, 2, 5, 5, 6, 3, 4, 5, 5, 5, 6)

Q10. Write a python program in which concatenate the given tuples 
and print the resulting tuple and the third element of generated 
tuple. 
t1 = ('java', 'python') 
t2 = ('c', 'ruby')

In [19]:
t1 = ('java', 'python') 
t2 = ('c', 'ruby')
t=t1+t2
print(f'{t} \n{t[2]}')

('java', 'python', 'c', 'ruby')
c

Q1. Write a Python program to check if a specified element appears 
in a tuple of tuples. 
Original Tuple: 
(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 
'Lime')) 
Check if White presenet in said tuple of tuples! 
True 
Check if White presenet in said tuple of tuples! 
True 
Check if Olive presenet in said tuple of tuples! 
False

In [3]:
t=(('Red', 'White', 'Blue'), ('Green', 'Pink', 'Purple'), ('Orange', 'Yellow', 'Lime'))
for i in t:
    if 'White' in i:
        print(True)
    elif 'Olive' in i:
        print(True)
else:
    print(False)

True
False

Q2. WAP to check the tuple contain any duplicate element

In [7]:
t=(1, 9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 2) 
if t.count(t)>1:
    print(True)
else:
    print(False)

False

Q3. WAP to check if all the element of a tuple are in descending 
order or not.

In [ ]:
t=( 9,8,7,6,8,9) 

for i in range(len(t)-1):
    if t[i]<t[i+1]:
        print('not dec')
        break
    t[i]==t[i+1]
else:
    
    print('dec')
#9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 2

not dec


Q4. WAP to check if the elements in the first half of a tuple are 
sorted in ascending or not.

In [13]:
t=(1, 9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 2) 
fhalf=t[0:len(t)//2]
if fhalf == sorted(fhalf):
    print('sorted')
else:
    print('not sorted')

not sorted

Q5. WAP to inputs name of n students and store them in a tuple . 
Also, input a name from the user and if this student is present in the 
tuple or not. Example:  
Input:-         
How many student?=5 
Enter name of student 1: Anaya 
Enter name of student 2:Ausha 
Enter name of student 3:Kirat 
Enter name of student 4:Kyle 
Enter name of student 5:Suji 
Output:- 
Enter name to be Searched for : Suji 
Suji exists in a tuple

In [20]:
n=int(input('how many students ?'))
t=[]
for i in range(n):
    
    x=str(input('enter name of student'))
    t.append(x)
t=tuple(t)
print(t)
y=str(input('enter name to be searched'))
if y in t:
    print(y,'exists in a tuple')
else:
    print('not exists in a tuple')

('ayana', 'ayusha', 'kirat', 'kyle', 'sujit')
not exists in a tuple

Q6. Python program to find unique numbers in a given tuple – 
original tuple: (1, 9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 2) 
Unique numbers: (1, 9, 6, 3, 4, 5, 2, 7, 8)

In [22]:
t=(1, 9, 1, 6, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 2) 
x=[]
for i in t:
    if i not in x:
        x.append(i)
x=tuple(x)
print(x)

(1, 9, 6, 3, 4, 5, 2, 7, 8)

Q7. Write a Python program to convert a tuple of string values to a 
tuple of integer values. 
Original tuple values: 
(('333', '33'), ('1416', '55')) 
New tuple values: 
((333, 33), (1416, 55))

In [ ]:
t=(('333', '33'), ('1416', '55')) 
x=[]
for i in t:
    l=[]
    for j in i:
        if type(j)==str:
            r=int(j)
        l.append(r)
    l=tuple(l)
    x.append(l)
x=tuple(x)
print(x)

((333, 33), (1416, 55))

Q8.  Write a Python program to calculate the product, multiplying all 
the numbers in a given tuple. 
Original Tuple: 
(4, 3, 2, 2, -1, 18) 
Product - multiplying all the numbers of the said tuple: -864 
Original Tuple: 
(2, 4, 8, 8, 3, 2, 9) 
Product - multiplying all the numbers of the said tuple: