Q1.  Write a Python function to find the maximum of three numbers

In [4]:
def max_three_no(a,b,c):
    maximum=a
    if a>b and a>c:
        maximum=a
    elif b>a and b>c:
        maximum=b
    else:
        maximum=c
    return maximum
# a=int(input())
# b=int(input())
# c=int(input())
# print(max_three_no(a,b,c))
print(max_three_no(int(input()),int(input()),int(input())))

4

Q2. Write a Python function that takes a number as a parameter and checks 
whether the number is prime or not.

In [60]:
def prime_check(n):
    if n<=1:
        print('not prime')
        return
    for i in range(2,n):

        if n%i==0:
            print('not prime')
            break
    else:
        print('prime no.')
    
prime_check(int(input()))

prime no.

Q3. Write a Python function that takes a list and returns a new list with distinct 
elements from the first list. 
Sample List: [1,2,3,3,3,3,4,5] 
Unique List: [1, 2, 3, 4, 5]

In [72]:

def uniqu_element_list(x):
   
    for i in x:
        x=set(x)
        x=list(x)
    return x
m=[1,2,3,3,3,3,4,5,6]
uniqu_element_list(m)

[1, 2, 3, 4, 5, 6]

Q4. Write a function intreverse(n) that takes as input a positive integer n and 
returns the integer obtained by reversing the digits in n. 
Here are some examples of how your function should work. 
Test Case 1: 
Input: intreverse(546) 
Output: 645 
Test Case 2: 
Input: intreverse(3) 
Output: 3

In [85]:
n=int(input())
x=0
for i in range(3):
    r=n%10
    x=x*10+r
    n//=10
print(x)

321

Q5. Write a function sumprimes(l) that takes as input a list of integers l and 
retuns the sum of all the prime numbers in l. 
Here are some examples to show how your function should work. 
Test Cases: 
Input: sumprimes([3,3,1,13]) 
Output: 19 
Input: sumprimes([2,4,6,9,11]) 
Output: 13

In [ ]:
def sumprimes(l):
    m=0
    for i in l:
        if i>=2:
            for j in range(2,i):
                if i%j==0:
                    continue
            else:
                m+=i
    return m
x=[2,4,6,9,11]
sumprimes(x)

2

Q6. Write a function that calculates the nth terms in an arithmetic sequence, 
which takes first term, common difference and value of n as an argument and 
default value of n is 10. 
an=a+(nâˆ’1)d

In [ ]:
def nt_term(x):
    a=x[0]
    d=x[1]-x[0]
    n=10
    return (a+(n-1)*d)
lst=[1,2,3,4,5,6,7,8,9,10]
nt_term(lst)

10

Q7. Create a function that returns the list of factorials of each element of a given list as argument. 
Test Case 1: 
Input as argument: [2,3,4,5] 
Ouput: [2, 6, 24, 120]

In [ ]:
def factorial(n):
    lst1=[]
    for i in n:
        p=1
        for j in range(1,i+1):
            p*=j
        lst1.append(p)
    return lst1
x=[2,3,4,5] 
factorial(x)

[2, 6, 24, 120]

Q8. Write a python function that accepts a list of numbers and returns the sum 
of the squares of only the prime numbers.

In [12]:
def sum_prime(n):
    s=0
    for i in n:
        if i<1:
            pass
        for j in range(2,i):
            if i%j==0:
                break
        else:
            s+=i**2
    return s
x=[2,3,4,5] 
sum_prime(x)

38

Q9. Write a function list_intersection(list1, list2) that returns a list of elements that are present in both list1 and list2

In [6]:
def list_intersection(list1, list2):
    list1=set(list1)
    list2=set(list2)
    x=list1 & list2
    return x
a=[1,2,3,4,5,6,7,8,9,10]
b=[1,3,5,7,9,11,13,15,17]
list_intersection(a,b)

{1, 3, 5, 7, 9}

Q10. Write a Python function that takes a list of strings as input and returns a tuple containing the shortest and longest word from the list, in that order. If there are multiple words of the same shortest or longest length, return the first shortest/longest word found.  
Input:- 
words = ["apple", "banana", "kiwi", "grapefruit", "orange"] 
Output:- ('kiwi', 'grapefruit')

In [7]:
def shortesg_longest(n):
    for i in n:
        x=min(len(i))
        y=max(len(i))
    return (x,y)
lst=["apple", "banana", "kiwi", "grapefruit", "orange"] 
shortesg_longest(lst)

TypeError: 'int' object is not iterable