Q1. Write a program which add the element 13 to the end of the list 
numbers = [10, 22, 35, 45, 53] after that Print the list.

In [1]:
numbers = [10, 22, 35, 45, 53]
numbers.append(13)
print(numbers)

[10, 22, 35, 45, 53, 13]

Q2.  Write a program which insert the element 20 at index 2 in the 
list numbers = [5, 2, 6, 4, 9]. Print the list after inserting.

In [2]:
numbers = [5, 2, 6, 4, 9]
numbers.insert(2,20)
print(numbers)

[5, 2, 20, 6, 4, 9]

Q3. If List1 = [1,2,3,4] and List2 = [8,6,7,5] then what should be the 
code for the output: [1,2,3,4,8,6,7,5]

In [3]:
List1 = [1,2,3,4]
List2 = [8,6,7,5]
List1.extend(List2)
print(List1)

[1, 2, 3, 4, 8, 6, 7, 5]

Q4. Delete the element at index 3 from the list numbers = [10, 2, 36, 
41, 5]. Print the list after deletion.

In [7]:
numbers = [10, 2, 36, 41, 5]
del numbers[3]
print(numbers)

[10, 2, 36, 5]

Q5. Delete the element at index 4 from the list Lst = ['apple' , 
'banana' , 'orange' , 'kiwi' , 'guava']   and Print the list after deletion 
and also print that deleted element.

In [9]:
Lst = ['apple' , 'banana' , 'orange' , 'kiwi' , 'guava']
a=Lst.pop(3)
print(Lst)
print(a)

['apple', 'banana', 'orange', 'guava']
kiwi

Q6. Remove the first occurrence of the element 3 from the list 
numbers = [1, 25, 3, 44, 33, 56]. Print the list after removing.

In [10]:
numbers = [1, 25, 3, 44, 33, 56]
numbers.remove(3)
print(numbers)

[1, 25, 44, 33, 56]

Q7. Count the number of times the element 2 appears in the list Lst = 
[15, 2, 2, 3, 4, 2 ,7 ,8 ,45 ,2 ,2]. Print the count.

In [12]:
Lst = [15, 2, 2, 3, 4, 2 ,7 ,8 ,45 ,2 ,2]
a=Lst.count(2)
print(a)

5

Q8. Write a program which prints the reverse list of the given list: 
Lst = [15, 22, 35, 24, 65]

In [14]:
Lst = [15, 22, 35, 24, 65]
Lst.reverse()
print(Lst)

[65, 24, 35, 22, 15]

Q9. Write a program to which add the element 7 at the last of list Lst 
= [4, 2, 5, 1, 3, 6, 8, 10, 3, 5], then sort the list. Print the list after 
these operations.

In [15]:
Lst = [4, 2, 5, 1, 3, 6, 8, 10, 3, 5]
Lst.append(7)
print(Lst)

[4, 2, 5, 1, 3, 6, 8, 10, 3, 5, 7]

Q10. Write a program which insert the element 10 at index 1 in the 
list Lst = [12, 24, 35, 24, 45], then remove the element 35. Print the 
list after these operations.

In [16]:
Lst = [12, 24, 35, 24, 45]
Lst.insert(1,10)
Lst.remove(35)
print(Lst)

[12, 10, 24, 24, 45]