In [5]:
s={1,2}
s.add((4,5,6,7,8))
print(s)

{1, 2, (4, 5, 6, 7, 8)}

In [6]:
s={1,2}
s.update((4,5,6,7,8,2))
print(s)

{1, 2, 4, 5, 6, 7, 8}

In [7]:
s={0,2,1,3,4,5,6,False,4,5,6.7,0}
s.update([8,(3,5,6),9],{10,2,3},(90,67,56),'hi','jius@odsuh')
print(s)

{0, 1, 2, 3, 4, 5, 6, 6.7, 8, (3, 5, 6), 9, 10, 's', 'i', '@', 56, 67, 'h', 'o', 90, 'd', 'u', 'j'}

In [8]:
s={0, 1, 2, 3, 4, 5, 6}
s.remove(4)
print(s)

{0, 1, 2, 3, 5, 6}

In [10]:
s={0, 1, 2, 3, 5, 6}
s.remove(4)
print(s)

KeyError: 4

In [9]:
s={0, 1, 2, 3, 5, 6}
s.discard(4)
print(s)

{0, 1, 2, 3, 5, 6}

sets:
properties:
- stores unique and ummutable elements
- inclosed by {}
- set itself is mutable
- set in unordered so, indexing is not possible

In [ ]:
#creation of sets
s=set() #emplty set having data type set
print(type(s))
s={} # not set gives data type disctionary 
print(type(s))
s={1,2,3,4}
print(type(s)) #if it is having element it will give data type set

<class 'set'>
<class 'dict'>
<class 'set'>

In [3]:
#sets of integer
s={1,2,3,4}
print(s)

{1, 2, 3, 4}

In [9]:
#addition of elemets in empty set or set
# there are two methods of add an element
#add(): it add only one element at a time
s=set()
s.add(1)
print(s)

s.add((1,2,3,4)) # it can add the whole tpl
print(s)
# s.add([1,2,3,4,5,6,7,8]) it only add immutable
# print(s)

{1}
{(1, 2, 3, 4), 1}

In [13]:
# updat(): add the sequence of element but the sequence should be immutable
s=set()
s.update([1,2,3,4,6,7,8])
print(s)

# t=set()
# t.update([1,2,3,[1,2,3,4],6,7])  # it will give error because list is mutable
# print(t)

s.update([1,2,3,4],(11,22,33,44),{12,23,34,56})
print(s)

{1, 2, 3, 4, 6, 7, 8}
{1, 2, 3, 4, 33, 6, 7, 8, 34, 11, 44, 12, 22, 23, 56}

In [16]:
# removel of element
# there are several functions for removal of element
# remove()
s={1, 2, 3, 4, 33, 6, 7, 8, 34, 11, 44, 12, 22, 23, 56}
s.remove(3)
print(s)

# s.remove(3)  # it element is not in the set it will give error
# print(s)

{1, 2, 4, 33, 6, 7, 8, 34, 11, 44, 12, 22, 23, 56}

In [17]:
# discard()
s={1, 2, 3, 4, 33, 6, 7, 8, 34, 11, 44, 12, 22, 23, 56}
s.discard(3)
print(s)

s.discard(3)  # if element is not present in set it will not give eroor
print(s)

{1, 2, 4, 33, 6, 7, 8, 34, 11, 44, 12, 22, 23, 56}
{1, 2, 4, 33, 6, 7, 8, 34, 11, 44, 12, 22, 23, 56}

In [18]:
# pop: remove the random element from the set and can be stored 
s={1, 2, 3, 4, 33, 6, 7, 8, 34, 11, 44, 12, 22, 23, 56}
a=s.pop()
print(a)
print(s)

1
{2, 3, 4, 33, 6, 7, 8, 34, 11, 44, 12, 22, 23, 56}

In [19]:
# clear() : clear all the element from the set
s={1, 2, 3, 4, 33, 6, 7, 8, 34, 11, 44, 12, 22, 23, 56}
s.clear()
print(s)

set()

In [ ]:
# del() : delet whole set
s={1, 2, 3, 4, 33, 6, 7, 8, 34, 11, 44, 12, 22, 23, 56}
del(s)
print(s)  # gies error because the set does not exists

NameError: name 's' is not defined

In [1]:
lst=[3,5,7,3,5,8,7,9]
s=set(lst)
x=len(s)
print(x)

5

In [9]:
n=(input())
y=n.split()
print(n,len(y))
s=set(y)
print(s)
print(len(s))

if you work hard you will sucess one day 9
{'if', 'day', 'work', 'hard', 'sucess', 'you', 'one', 'will'}
8

In [ ]:
lst=[1, 2, 3, 4, 5, 6, 7]
x=max(lst)
print

In [11]:
lst=[1, 2, 3, 4, 33,2,4,6,4,2,3,5,2,4,4,2,4,5, 6, 7]
lst=set(lst)
lst=list(lst)
print(lst)
x=lst.sort()
print(lst[-3])

[1, 2, 3, 4, 33, 6, 5, 7]
6

In [ ]:
l1=[1,2,1,3,4]
l2=[18,4,5,6,4,3]
l3=[3,8,9,8,7,9]
s=set()
for i in l1:
    if l1.count(i)==1:
        s.add(i)
for i in l2:
    if l2.count(i)==1:
        s.add(i)
for i in l3:
    if l3.count(i)==1:
        s.add(i)        
print(s)

{2, 3, 4, 5, 6, 7, 18}

sare list ke kisi v element ka count 1 se jada ho to us element ko output list se remove karna h

In [3]:
l1=[1,2,1,3,4]
l2=[18,4,5,6,4,3]
l3=[3,8,9,8,7,9]
s=set()
x=set()
for i in l1:
    if l1.count(i)==1:
        s.add(i)
    else:
        x.add(i)
for i in l2:
    if l2.count(i)==1:
        s.add(i)
    else:
        x.add(i)
for i in l3:
    if l3.count(i)==1:
        s.add(i) 
    else:
        x.add(i)       
for i in x:
    if i in s:
        s.remove(i)
print(s)

{2, 3, 5, 6, 7, 18}

In [8]:
l1=[1,2,1,3,4]
l2=[18,4,5,6,4,3]
l3=[3,8,9,8,7,9]
s=set()
for i in l1:
    if l1.count(i)==1:
        s.add(i)
    else:
        s.discard(i)
for i in l2:
    if l2.count(i)==1:
        s.add(i)
    else:
        s.discard(i)
for i in l3:
    if l3.count(i)==1:
        s.add(i) 
    else:
        s.discard(i)       
print(s)

{2, 3, 5, 6, 7, 18}

In [11]:
l1=[1,2,1,3,4]
l2=[18,4,5,6,4,3]
l3=[3,8,9,8,7,9]
s=set()
s.update(l1,l2,l3)
for i in l1:
    if l1.count(i)>1:
        s.discard(i)
for i in l2:
    if l2.count(i)>1:
        s.discard(i)
for i in l3:
    if l3.count(i)>1:
        s.discard(i)   
print(s)

{2, 3, 5, 6, 7, 18}