Q1. Write a Python program to create two sets, A and B, and find the elements 
that are common to both sets.  
A = {1, 2, 3, 4, 5}  
B = {4, 5, 6, 7, 8}

In [1]:
A = {1, 2, 3, 4, 5}  
B = {4, 5, 6, 7, 8} 
x=A&B
print(x)

{4, 5}

Q2. Write a Python program to create two sets, X and Y, and find the elements 
that are unique to each set (not present in both).  
X = {10, 20, 30, 40}  
Y = {30, 40, 50, 60}

In [3]:
X = {10, 20, 30, 40}  
Y = {30, 40, 50, 60} 
x=X^Y
print(x)

{10, 50, 20, 60}

Q3. Write a Python program to check if all elements of one set are contained 
within another set.  
S1 = {1, 2, 3}  
S2 = {1, 2, 3, 4, 5}

In [4]:
S1 = {1, 2, 3}  
S2 = {1, 2, 3, 4, 5} 
x=S1.issubset(S2)
print(x)

True

Q4. Write a Python program which create a new set from given two sets have 
only that elements which are not common.  
A = {2, 4, 6}  
B = {1, 3, 5}

In [1]:
A = {2, 4, 6}  
B = {1, 3, 5} 
x=set()
x.update(A,B)
print(x)

{1, 2, 3, 4, 5, 6}

Q5. Write a Python program to combine all elements from three different sets 
into one.  
Set1 = {1, 2}  
Set2 = {2, 3}  
Set3 = {3, 4}

In [3]:
Set1 = {1, 2}  
Set2 = {2, 3}  
Set3 = {3, 4} 
x=set()
x.update(Set1,Set2,Set3)
print(x)

{1, 2, 3, 4}

Q6. Write a Python program to find all elements that are in one set but not in 
another.  
A = {10, 20, 30}  
B = {20, 30, 40}

In [5]:
A = {10, 20, 30}  
B = {20, 30, 40} 
x=A^B
print(x)

{40, 10}

Q7. Write a Python program to remove a specific element(n) from a set, but 
only if it exists in the set.  
S = {1, 2, 3, 4, 5} 
Test case 1: n = 2 
Test case 2: n = 7

In [6]:
n=int(input())
S = {1, 2, 3, 4, 5} 
if n in S:
    S.remove(n)
print(S)

{1, 2, 3, 5}