Q1. Write a python program to create a tuple with elements 'apple', 
'banana', 'cherry'. Print the first and last elements.

In [2]:
x=('apple','banana','cherry')
first=x[0]
last=x[-1]

print('first element =',first)
print('last element =',last)

first element = apple
last element = cherry

Q2. Write a python program which prints the second last element 
and check if 'blue' is in the given tuple. 
t = ('red', 'green', 'blue', 'yellow')

In [5]:
t = ('red', 'green', 'blue', 'yellow') 
print(t[-2])
print('blue' in t)

blue
True

Q3. Write a python program in which slice the given tuple to get the 
elements from the second to the fourth position. Print the sliced 
tuple and its length. 
tpl = ('a', 'b', 'c', 'd', 'e')

In [6]:
tpl = ('a', 'b', 'c', 'd', 'e') 
y= tpl[1:4]
print(y)
print(len(y))

('b', 'c', 'd')
3

Q4. Write a python program to concatenate the given tuples. Print 
the result and then sort the tuple and print it. 
t1 = ('a', 'b', 'c') 
t2 = ('d', 'e', 'f') 
Output: ('a', 'b', 'c', 'd', 'e', 'f') 
('a', 'b', 'c', 'd', 'e', 'f')

In [8]:
t1 = ('a', 'b', 'c') 
t2 = ('d', 'e', 'f') 
x= t1+t2
print(x)
y=sorted(x)
print(y)

('a', 'b', 'c', 'd', 'e', 'f')
['a', 'b', 'c', 'd', 'e', 'f']

Q5. Write a program to count how many times 5 appears and find 
the index of the first occurrence of 3. Print both results. 
t = (1, 2, 3, 4, 5, 5, 5, 6).

In [10]:
t = (1, 2, 3, 4, 5, 5, 5, 6)
x=t.count(5)
print(x)
for i in range(len(t)):
    if t[i]==3:
        print(i)

3
2

Q6. Write a program to create a tuple with elements ('cat', 'dog', 
'mouse', 'elephant'). Slice it to get the first two elements and print 
them and also print the after sorting the tuple.

In [11]:
tpl=('cat', 'dog', 'mouse', 'elephant')
x=tpl[0:2]
print(x)
y=sorted(tpl)
print(y)

('cat', 'dog')
['cat', 'dog', 'elephant', 'mouse']

Q7. Write a python program which prints the last element of given 
tuple and check if 'Hello' is in the tuple. Print the results. 
tpl = ('python', 'java', 'c++', 'ruby') 
Output: ‘ruby’ 
False

In [12]:
tpl = ('python', 'java', 'c++', 'ruby') 
print(tpl[-1])
print('Hello' in tpl)

ruby
False

Q8. Write a python program to create a tuple with elements ('hello', 
'world', 'python'). Print its length then add ‘3’ as int at the last of 
tuple and Print 
Output: 3 
[‘hello’,’world’,’python’,3]

In [15]:
tpl=('hello', 'world', 'python')
print(len(tpl))
y=list(tpl)
y.append(3)
print(y)

3
['hello', 'world', 'python', 3]

Q9. Write a python program which access first six elements of the 
given tuple, then count how many times 5 appears in the new tuple. 
Print both results. 
t = (1, 2, 5, 5, 6, 3, 4, 5, 5, 5, 6)

In [16]:
t = (1, 2, 5, 5, 6, 3, 4, 5, 5, 5, 6)  
x=t[0:6]
print(x)
y=x.count(5)
print(y)

(1, 2, 5, 5, 6, 3)
2

Q10. Write a python program in which concatenate the given tuples 
and print the resulting tuple and the third element of generated 
tuple. 
t1 = ('java', 'python') 
t2 = ('c', 'ruby')

In [17]:
t1 = ('java', 'python') 
t2 = ('c', 'ruby')
x=t1+t2
print(x)
print(x[2])

('java', 'python', 'c', 'ruby')
c