Q1. Write a program which add the element 13 to the end of the list 
numbers = [10, 22, 35, 45, 53] after that Print the list.

In [ ]:
def add_element(n):
    n.append(13)
    return n
x=[10, 22, 35, 45, 53] 
add_element(x)

[10, 22, 35, 45, 53, 13]

Q2.  Write a program which insert the element 20 at index 2 in the 
list numbers = [5, 2, 6, 4, 9]. Print the list after inserting.

In [4]:
def insert_element(n):
    n.insert(2,20)
    return n
x=[5, 2, 6, 4, 9]
insert_element(x)

[5, 2, 20, 6, 4, 9]

Q3. If List1 = [1,2,3,4] and List2 = [8,6,7,5] then what should be the 
code for the output: [1,2,3,4,8,6,7,5]

In [5]:
def lst_add(a,b):
    return (a+b)
x=[1,2,3,4]
y=[8,6,7,5]
lst_add(x,y)

[1, 2, 3, 4, 8, 6, 7, 5]

Q4. Delete the element at index 3 from the list numbers = [10, 2, 36, 41, 5]. Print the list after deletion.

In [9]:
def del_element(n):
    a=n.pop(3)
    print(f'{a} \n{n}')
x=[10, 2, 36, 41, 5]
del_element(x)

41
[10, 2, 36, 5]

Q5. Delete the element at index 4 from the list Lst = ['apple' , 'banana' , 'orange' , 'kiwi' , 'guava']   and Print the list after deletion and also print that deleted element.

In [1]:
def del_element(n):
    a=n.pop(3)
    print(f'{a} \n {n}')
x=['apple' , 'banana' , 'orange' , 'kiwi' , 'guava']
del_element(x)

kiwi
 ['apple', 'banana', 'orange', 'guava']

Q6. Remove the first occurrence of the element 3 from the list 
numbers = [1, 25, 3, 44, 33, 56]. Print the list after removing.

In [2]:
def remove(n):
    a=n.remove(3)
    print(n)
x=[1, 25, 3, 44, 33, 56]
remove(x)

[1, 25, 44, 33, 56]

Q7. Count the number of times the element 2 appears in the list Lst = 
[15, 2, 2, 3, 4, 2 ,7 ,8 ,45 ,2 ,2]. Print the count.

In [2]:
def count(x):
    n=int(input())
    for i in x:
        s=x.count(n)
    return s
y=[15, 2, 2, 3, 4, 2 ,7 ,8 ,45 ,2 ,2]
count(y)

5

Q8. Write a program which prints the reverse list of the given list: 
Lst = [15, 22, 35, 24, 65]

In [13]:
def reverse(n):
    n.reverse()
    return n
Lst = [15, 22, 35, 24, 65]
reverse(Lst)

[65, 24, 35, 22, 15]

Q9. Write a program to which add the element 7 at the last of list Lst = [4, 2, 5, 1, 3, 6, 8, 10, 3, 5], then sort the list. Print the list after these operations.

In [14]:
def add(n):
    n.append(int(input()))
    return n
x=[4, 2, 5, 1, 3, 6, 8, 10, 3, 5]
add(x)

[4, 2, 5, 1, 3, 6, 8, 10, 3, 5, 7]

Q10. Write a program which insert the element 10 at index 1 in the list Lst = [12, 24, 35, 24, 45], then remove the element 35. Print the list after these operations.

In [15]:
def add_remove(n):
    n.insert(1,int(input()))
    n.remove(int(input()))
    return n
x=[12, 24, 35, 24, 45]
add_remove(x)

[12, 10, 24, 24, 45]

assignment- 2

Q1. Write a python program which iterates the given list prints all 
the values inside the list via loop . 
lst = ['mango','apple','banana','ornage','kiwi']

In [20]:
def iterates(n):
    for i in n:
        print(i , end=',')
lst = ['mango','apple','banana','ornage','kiwi'] 
iterates(lst)

mango,apple,banana,ornage,kiwi,

Q2. Write a python program which finds the sum to all the elements of the list by iterating that given list. 
lst = [2,4,6,8,12,10,14,24]

In [21]:
def sum(n):
    s=0
    for i in n:
        s+=i
    return s
lst = [2,4,6,8,12,10,14,24] 
sum(lst)

80

Q3. Write a python program which finds the value (n) in the given list = [4,5,3,2,1,6,8], if present then return True otherwise False. 
Note: ‘n’ can be any input value.

In [23]:
def is_present(n):
    x=int(input())
    if x in n:
        print(True)
    else:
        print(False)
y=[4,5,3,2,1,6,8]
is_present(y)

False

Q4. Write a python program which update odd indices elements of the list by ‘hii’ through iterating that given list. 
lst = [2,4,6,8,1]

In [24]:
def update(n):
    for i in range(0,len(n)):
        if i%2!=0:
            n[i]='hii'
    return n
x=[2,4,6,8,1]
update(x)

[2, 'hii', 6, 'hii', 1]

Q5. Write a python program which finds and print the average of elements of the given list of integers. 
lst = [10,45,23,46,98,56] 
Note: If list changes your code should work properly.

In [25]:
def avg(n):
    s=0
    for i in n:
        s+=i
    return s/len(n)
lst = [10,45,23,46,98,56] 
avg(lst)

46.333333333333336

Q6. Write a python program which finds the sum of squares of all the elements of the given list. 
lst = [2,4,6,8,1]

In [26]:
def sum_square(n):
    s=0
    for i in n:
        s+=i**2
    return s
lst = [2,4,6,8,1]
sum_square(lst)

121

assignment - 3

Q1. Write a python program to divide the list into two equal halves and print the sum of each half. 
lst1 = [2,4,6,8,3,5,8,9] 
Output:  20 = (2+4+6+8) , 25 =(3+5+8+9)

In [29]:
def two_equal_sum(n):
    s=0
    x=0
    a=n[0:len(n)//2]
    b=n[len(n)//2:len(n)]
    for i in a:
        s+=i
    print(s)
    for i in b:
        x+=i
    print(x)
lst1 = [2,4,6,8,3,5,8,9] 
two_equal_sum(lst1)

20
25

Q2. Write a program to delete the element at the index equal to half the length of the given list. Print the list before and after deletion. 
Before: [2,3,4,5,6,7,8] 
After: [2,3,4,6,7,8] 
Note: List can be changed.

In [31]:
def del_element(n):
    n.pop(len(n)//2)
    return n
x=[2,3,4,5,6,7,8] 
del_element(x)

[2, 3, 4, 6, 7, 8]

Q3. Write a program to append a new integer to this list, which is the sum of the first and last elements of the list. Print the list before and after appending. 
Sample List: [23,43,56,87] 
Output: [23,43,56,87,110] 
(23+87)

In [34]:
def add_sum(n):
    for i in n:
        s=n[0]+n[-1]
    n.append(s)
    return n
x=[23,43,56,87]
add_sum(x)

[23, 43, 56, 87, 110]

Q4. Write a program to insert the product of the first and last elements at the third position in the list. Print the list before and after insertion. 
Sample list = [34,56,23,76,23,46] 
Output: [34,56,23,1564,76,23,46] 
(34 * 46)

In [36]:
def product(n):
    p=n[0]*n[-1]
    n.insert(3,p)
    return n
x=[34,56,23,76,23,46] 
product(x)

[34, 56, 23, 1564, 76, 23, 46]

Q5. Write a program to print the list of first and last elements of each list of lists. 
lst2 = [[23,45,76],[45,3,12],[3,5,20]] 
Output: [23,76,45,12,3,20]

In [37]:
def add_element(n):
    s=[]
    for i in n:
        s.append(i[0])
        s.append(i[-1])
    return s
y=[[23,45,76],[45,3,12],[3,5,20]] 
add_element(y)

[23, 76, 45, 12, 3, 20]

Q6. Write a program to calculate and print the sum of max elements of each list of lists. 
lst3 = [[1,2,4,5],[3,5,4,3],[4,5,3,2]] 
Output: 15 =(5+5+5)

In [42]:
def add_max(n):
    s=0
    for i in n:
        s+=max(i)
    return s
x=[[1,2,4,5],[3,5,4,3],[4,5,3,2]] 
add_max(x)

15

Q7. Write a program to calculate and print the sum of elements in each list of lists and add the resultant values. Without using sum() function. 
Sample list = [[1,2,4,5],[3,5,4,3],[4,5,3,2]] 
Output: [12, 15, 14] 
41 =(12+15+14)

In [48]:
def sum(n):
    x=[]
    for i in n:
        s=0
        for j in i: 
            s+=j
        x.append(s)
    return x
y=[[1,2,4,5],[3,5,4,3],[4,5,3,2]] 
sum(y)

[12, 15, 14]

In [ ]:
lst = [2,5,7,1,4,6,10,11,6,12]

Q8. Find the largest element of the above given list without using 
max() and sort() functions.

Q9. Find the Smallest element of the above given list without using 
min() and sort() functions.

Q10. Find the Second largest element of the above given list without 
using max() and sort() functions.

Q11. Find the Second Smallest element of the above given list 
without using min() and sort() functions.

assignment = 4

Q1. Create a new list which have the squares of every element of the 
given list using list comprehension. 
lst = [2,3,4,5,6,7]  
Output = [4,9,16,25,36,49]

Q2. Write a Python program using a list comprehension to create a 
list of even numbers less than 8 from 1 to 20.

Q3. Write a Python program using a list comprehension to create a 
list of numbers from 1 to 10, but only include numbers that are 
greater than 5.

Q4. Write a Python program using a list comprehension to create a 
list of the first letters of each word in the given list. 
lst = ['apple', 'banana', 'cherry'].

Q5. Write a Python program using a list comprehension to create a 
list of the lengths of each word in the given list. 
lst = ['python', 'java', 'c++'].

Q6. Write a Python program using a nested list comprehension to 
flatten the given list. 
Input list: [[1, 2, 3], [4, 5], [6, 7, 8]]. 
Output: [1, 2, 3, 4, 5, 6, 7, 8]

Q7. Write a Python program using a list comprehension to create a 
list of numbers from 1 to 20 that are divisible by both 2 and 3.

Q8. Write a Python program using a list comprehension to create a 
list of the sums of corresponding elements from the lists [1, 2, 3] and 
[4, 5, 6]. 
Output: [5, 7, 9]

Q9. Write a python program using list comprehension to create a list 
which has the sums of elements of list of given list. 
lst = [[1,2,3],[3,4,5],[3,4,5],[5,7,3,2]] 
Output: [6,12,12,17]

Q10. Write a python program using list comprehension to create a 
list which has the min of elements of list of given list. 
lst = [[1,2,3],[3,4,5],[3,4,5],[5,7,3,2]] 
Output: [1,3,3,2]